.protection-section
    picture
        source(srcset="./images/protection-icon.svg")
        img(src="./images/protection-icon.svg" alt="lock icon").protection-section__icon
    .protection-section__description We take your privacy and data security very seriously at Bitbunch. Bitbunch uses the same 256-bit encryption and physical security used by banks. Our practices are monitored and verified by TrustArc.