.main-nav
    a(href="index.html").main-nav__logo-link
        img(src="./images/main-header__logo-image.png", alt="")
    nav.main-nav__nav-menu
        .main-nav__controls
            a(href="index.html").main-nav__logo-link
                img(src="./images/main-header__logo-image.png", alt="")
            .main-nav__close-button
                img(src="./images/main-nav__close-icon.png", alt="")
        ul.main-nav__menu-list
            li.main-nav__menu-item
                a(href="#").main-nav__menu-link How it works
            li.main-nav__menu-item
                a(href="pressroom.html").main-nav__menu-link Pressroom
            li.main-nav__menu-item
                a(href="team.html").main-nav__menu-link Team
            li.main-nav__menu-item
                a(href="help.html").main-nav__menu-link FAQ
            li.main-nav__menu-item
                a(href="contact.html").main-nav__menu-link Contact
            li.main-nav__menu-item
                img(src="./images/uk.svg", alt="").main-nav__menu-link-flag 
                a(href="#").main-nav__menu-link Eng
        .main-nav__menu-buttons
            a(href="#").button-orange.main-nav__user-sign-in-button Sign IN
            a(href="register.html").button-orange.main-nav__user-register-button Register
    .main-nav__sandwich-button
    .main-nav__user-panel
        a(href="#").user-panel__sign-in-button Sign in
        a(href="#").button-orange.user-panel__register-button.button-hover-blue Register