section.we-earn
    .we-earn__wrapper

        .section__subtitle.we-earn__subtitle One more thing
        .section-headline.we-earn__headline We Earn Only if You Earn

        img(src="./images/we-earn__zero-image.png", alt="").we-earn__zero-image

        .section__subtitle.we-earn__descr Upfront costs for you.

        .we-earn__descr-container
            .we-earn__text-block 
                .title We want to be fair with you
                .text We only take 
                    span.orange 3
                    | % - 
                    span.orange 30
                    | % from your profit with no hidden fees. No costs, guaranteed.
                a(href="#").link Learn more
            a(href="#").button-orange.we-earn__lets-earn-button Let's Earn Together

    .main-footer__wrapper
        .main-footer__menu-container

            .main-footer__support-block
                .main-footer__menu-title Support
                a(href="mailto:hello@bitbunch.co").main-footer__menu-link hello@bitbunch.co
                a(href="tel:+447911257986").main-footer__menu-link +44 7911 257986
                .main-footer__support-work Mo-Fr 9-18
            
            .main-footer__menu-block
                .main-footer__menu-title Our product
                a(href="#").main-footer__menu-link How it works
                a(href="#").main-footer__menu-link About us
                a(href="#").main-footer__menu-link Support
                a(href="#").main-footer__menu-link F.A.Q.

            .main-footer__menu-block
                .main-footer__menu-title Company
                a(href="#").main-footer__menu-link Pressroom
                a(href="#").main-footer__menu-link Contact
                a(href="#").main-footer__menu-link Career
                a(href="#").main-footer__menu-link Team
            
            .main-footer__menu-block
                .main-footer__menu-title Legal
                a(href="#").main-footer__menu-link Terms & Conditions
                a(href="#").main-footer__menu-link Privacy Policy
                a(href="#").main-footer__menu-link Imprint
                a(href="#").main-footer__menu-link GDPR        

        .main-footer__center-container
            .main-footer__rights-block © 2018 Bitbunch | All rights reserved
            a(href="#").main-footer__logo-link
                img(src="./images/main-footer__logo-image.png", alt="")
            .main-footer__social-block
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-google-plus.png", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-instagram.png", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-facebook.png", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-linkedin.png", alt="")

        .main-footer__descr-container
            span Investors should be aware that system response, execution price, speed, liquidity, market data, and account access times are affected by many factors, including market volatility, size and type of order, market conditions, system performance, and other factors.

        