section.we-earn
    .we-earn__wrapper

        .section__subtitle.we-earn__subtitle One more thing
        .section-headline.we-earn__headline We Earn Only if You Earn

        img(src="./images/we-earn__zero-image.png", alt="").we-earn__zero-image

        .section__subtitle.we-earn__descr Upfront costs for you.

        .we-earn__descr-container
            .we-earn__text-block 
                .title We want to be fair with you
                .text We only take 
                    span.orange 3
                    | % - 
                    span.orange 30
                    | % from your profit with no hidden fees. No costs, guaranteed.
                a(href="#").link Learn more
            a(href="#").button-orange.we-earn__lets-earn-button Let's Earn Together
        
        