section.we-earn
    .we-earn__wrapper

        .section__subtitle.we-earn__subtitle One more thing
        .section-headline.we-earn__headline We Earn Only if You Earn

        img(src="./images/we-earn__zero-image.png", alt="").we-earn__zero-image

        .section__subtitle.we-earn__descr Upfront costs for you.

        .we-earn__descr-container
            .we-earn__text-block 
                .title We want to be fair with you
                .text We only take 
                    span.orange 3
                    | % - 
                    span.orange 30
                    | % from your profit with no hidden fees. No costs, guaranteed.
                a(href="hiw.html").link.link-hover-move Learn more
            a(href="register.html").button-orange.we-earn__lets-earn-button.button-hover-white Let's Earn Together

    .main-footer__wrapper
        .main-footer__menu-container

            .main-footer__support-block
                .main-footer__menu-title Support
                ul
                    li.main-footer__menu-item
                        a(href="mailto:hello@bitbunch.co").main-footer__menu-link hello@bitbunch.co
                    li.main-footer__menu-item
                        a(href="tel:+447911257986").main-footer__menu-link +44 7911 257986
                .main-footer__support-work Mo-Fr&nbsp;
                  span 9-18
            
            .main-footer__menu-block
                .main-footer__menu-title Our product
                ul
                    li.main-footer__menu-item
                        a(href="hiw.html").main-footer__menu-link How it works
                    li.main-footer__menu-item
                        a(href="home.html").main-footer__menu-link About us
                    li.main-footer__menu-item
                        a(href="help.html").main-footer__menu-link Support
                    li.main-footer__menu-item
                        a(href="help.html").main-footer__menu-link F.A.Q.

            .main-footer__menu-block
                .main-footer__menu-title Company
                ul
                    li.main-footer__menu-item
                        a(href="pressroom.html").main-footer__menu-link Pressroom
                    li.main-footer__menu-item
                        a(href="contact.html").main-footer__menu-link Contact
                    li.main-footer__menu-item
                        a(href="career.html").main-footer__menu-link Career
                    li.main-footer__menu-item
                        a(href="team.html").main-footer__menu-link Team
            
            .main-footer__menu-block
                .main-footer__menu-title Legal
                ul
                    li.main-footer__menu-item
                        a(href="terms-and-conditions.html").main-footer__menu-link Terms & Conditions
                    li.main-footer__menu-item
                        a(href="privacy.html").main-footer__menu-link Privacy Policy
                    li.main-footer__menu-item
                        a(href="imprint.html").main-footer__menu-link Imprint
                    li.main-footer__menu-item
                        a(href="gdpr.html").main-footer__menu-link GDPR    

        .main-footer__border-line

        .main-footer__center-container
            .main-footer__rights-block © 2018 Bitbunch | All rights reserved
            a(href="terms-and-conditions").main-footer__logo-link
                img(src="./images/main-footer__logo-image.png", alt="")
            .main-footer__social-block
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-google-plus.svg", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-instagram.svg", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-facebook.svg", alt="")
                a(href="#").main-footer__social-link
                    img(src="./images/social-link-linkedin.svg", alt="")

        .main-footer__descr-container
            span Investors should be aware that system response, execution price, speed, liquidity, market data, and account access times are affected by many factors, including market volatility, size and type of order, market conditions, system performance, and other factors.

        