.form-wrapper
    section.forgot-section
        h2.forgot-section__caption Forgot password
        .forgot-section__description Enter your email address below to reset your password
        form#forgotForm.forgot__form(novalidate)
            .form-group.forgot__form-email
                input(type="text" class="form-control form-control-lg required" id="forgotEmail" name="email" required)
                span.form-group__placeholder Email
                .error-icon.d-none
                  span !
            button(type="submit").button-orange.button-hover-white.forgot__form-forgot Submit
        .forgot-section__footer
            span No need to restore?
            =' '
            a.forgot-section__footer-link.link-hover-move(href="login.html" target="_blank") Sign In
    
    include ../../protection-section/protection-section.pug