section.our-founders
    .our-founders__wrapper

        .section-headline.our-founders__headline Our Founders
        .section__subtitle.our-founders__subtitle Listen to our founders, Greg, Paul and James talk about our technology and the future of BitBunch.

        .our-founders__video-block
            .our-founders__video-poster
                .our-founders__video-play-circle
                .video-play-button.our-founders__video-play-button
