section.main-header.career-header.border-bottom
    .career-header__wrapper

        include ../../components/main-nav/main-nav

        .career-header__headline-block
            .section-main-headline.career-header__headline Career
            .section-main-subtitle.career-header__subtitle Feel like you would fit perfectly within Bitbunch? Please don’t hesitate to contact us!
