.account-nav
    .account-nav__logo
        a(href="account.html").account-nav__logo-link
            picture
                source(srcset="./images/logo-icon.svg" media="(max-width: 1000px)")
                img(src="./images/main-header__logo-image.png" alt="")
    nav.account-nav__nav-menu
        .account-nav__controls
            .account-nav__close-button
                img(src="./images/main-nav__close-icon.png", alt="")
        ul.account-nav__menu-list
            li.account-nav__menu-item.active
                a(href="live-trades.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_live-trades.svg", alt="")
                    span Live Trades
            li.account-nav__menu-item
                a(href="assets.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_assets.svg", alt="")
                    span Assets
            li.account-nav__menu-item
                a(href="settings.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_settings.svg", alt="")
                    span Settings
            li.account-nav__menu-item
                a(href="reports.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_reports.svg", alt="")
                    span Reports
            li.account-nav__menu-item
                a(href="invest.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_invest.svg", alt="")
                    span Invest
            li.account-nav__menu-item
                a(href="withdraw.html").account-nav__menu-link
                    .account-nav__menu-link-icon
                        img(src="./images/icon_withdraw.svg", alt="")
                    span Withdraw
    .account-nav__user
        .account-nav__user-menu-close
        .account-nav__user-header
            .account-nav__user-menu-link
                .account-nav__user-menu-link-icon
                    img(src="./images/user.svg", alt="")
                span Account
            .account-nav__user-logo MT
            .account-nav__user-descr
                .account-nav__user-name Miguel Torres
                .account-nav__user-email torres@hotmail.com
        ul.account-nav__user-menu-list
            li.account-nav__user-menu-item
                a(href="account.html").account-nav__user-menu-link
                    .account-nav__user-menu-link-icon
                        img(src="./images/user.svg", alt="")
                    span Account
            li.account-nav__user-menu-item
                a(href="#").account-nav__user-menu-link
                    .account-nav__user-menu-link-icon
                        img(src="./images/shield-protected.svg", alt="")
                    span Security
            li.account-nav__user-menu-item
                a(href="#").account-nav__user-menu-link
                    .account-nav__user-menu-link-icon
                        img(src="./images/verification.svg", alt="")
                    span Verification
            li.account-nav__user-menu-item
                a(href="#").account-nav__user-menu-link
                    .account-nav__user-menu-link-icon
                        img(src="./images/logout.svg", alt="")
                    span Logout
    a(href="#").account-nav__button.button-orange invest
    .account-nav__sandwich-button