@media screen and ($mobile1), ($mobile2), ($mobile3) {
  .account-nav{
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    min-height: auto;
    margin-bottom: 0.625rem;
    padding: 2.125rem 1.5rem 1.5rem;
  }
  .account-nav:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.625rem;
    display: block;
    height: 0.625rem;
    box-shadow: 0.25rem 0.3125rem 0.8125rem rgba(80, 87, 94, 0.1);
    background-color: #efc7c2;
  }
  .account-nav__logo:after{
    display: none;
  }
  .account-nav__logo-link{
    width: 2.125rem;
    height: 2.125rem;
    margin: 0;
  }
  .account-nav__nav-menu{
    display: none;
  }
  .account-nav__user{
    display: none;
  }
  .account-nav__button{
    display: flex;
  }
  .account-nav__sandwich-button{
    display: block;
  }
}