section.how-it-works
    .how-it-works__wrapper

        .section-headline.how-it-works__headline How it Works
        .section__subtitle.how-it-works__subtitle BitBunch automatically exploits price differences for one cryptocurrency between different exchanges.

        .how-it-works__flex-container

            .how-it-works__flex-block
                .title 1. Detect Price Differncies
                .descr The BitBunch Arbitrage Engine is directly connected to 36 exchanges and finds price differences in over 80 different currency pairs.
            
            .how-it-works__flex-block
                .title 2. Evaluate Arbitrage Window
                .descr Once a price difference got detected, our AI  calculates how long it will persist and if the trade can be executed fast enough.
            
            .how-it-works__flex-block
                .title 3. earn secure profits
                .descr If the arbitrage window is big enough, the BitBunch Trading Engine places all orders in real-time to earn you secure profits fully automated.
            
        .how-it-works__buttons
            a(href="#").button-orange.how-it-works__start-demo-button Start demo
            a(href="#").learn-more-button Learn more




