section.started
    .started__wrapper

        .section-headline.started__headline How Do I Get Started
        .section__subtitle.started__subtitle Ready to get started? Just follow the steps below!

        .started__flex-container

            .started__card.started__anim-block-1
                .started__card-num 1
                .started__card-title Register your account
                .started__card-text The first thing to get started with BitBunch is creating an account. But no worries, it’s 100% free and only takes two minutes. We will only earn a share from your profit.
            
            .started__card.started__anim-block-2
                .started__card-num 2
                .started__card-title fund your balance
                .started__card-text Registered? Great! Now just fund your BitBunch account with Bitcoin, Ethereum or US Theter. As soon as your funds arrive, you can get started!

            .started__card.started__anim-block-3
                .started__card-num 3
                .started__card-title Enjoy your insurance
                .started__card-text As soon as your funds arrive in your BitBunch account, they are automatically fully insured against hackers and criminals alike.

            .started__card.started__anim-block-4
                .started__card-num 4
                .started__card-title Start the trading
                .started__card-text Starting to trade is easy. The only thing that you need to do, is click on the trading button. Everything else happens fully automated!

            .started__card.started__anim-block-5
                .started__card-num 5
                .started__card-title enjoy the profits
                .started__card-text Afterwards our trading AI will start to find and execute profitable arbitrage opportunities for you. All profits get generated in real time! 

            .started__card.started__anim-block-6
                .started__card-num 6
                .started__card-title reduce the commissions
                .started__card-text Want to gain bigger profits? Reduce our comission by increasing your account balance. Check the table below for further information! 
