section.started
    .started__wrapper

        .section-headline.started__headline How Do I Get Started
        .section__subtitle.started__subtitle Ready to get started? Just follow the steps below!

        .started__flex-container

            .started__card.started__anim-block-1
                .started__card-num 1
                .started__card-title Register your free Account
                .started__card-text To get started with BitBunch, you need to have an account first. But no worries, it’s 100% free and only takes two minutes.
                .button-orange.started__reg-button.button-hover-white register free account
            
            .started__card.started__anim-block-2
                .started__card-num 2
                .started__card-title fund your trading balance
                .started__card-text Afterwards you can fund your BitBunch account with Bitcoin, Ethereum or US Theter. All your funds will be used to generate profits from arbitrage opportunities.

            .started__card.started__anim-block-3
                .started__card-num 3
                .started__card-title Enjoy your insurance
                .started__card-text As soon as your funds arrive in your BitBunch account, they are automatically fully insured against hackers and criminals alike.

            .started__card.started__anim-block-4
                .started__card-num 4
                .started__card-title Start the trading
                .started__card-text When your funds have been credited to your account, all you need to do is to start the automated trading engine. It only takes one  click and you can start and stop it whenever you like.

            .started__card.started__anim-block-5
                .started__card-num 5
                .started__card-title enjoy the profits
                .started__card-text After you started the trading, our enterprise level trading AI will automatically find and execute profitable arbitrage opportunities for you. All profits get generated in real time and are risk free. 

            .started__card.started__anim-block-6
                .started__card-num 6
                .started__card-title reduce the commissions
                .started__card-text Once you are 100% comfortable with BitBunch and sure that it fits your needs, you can reduce the comissions that we earn from your profits by increasing your account balance. Below you can find our comission table. 
