section.you-will-get
    .you-will-get__wrapper

        .section-headline.you-will-get__headline What You Will Get

        .you-will-get__flex-container

            .you-will-get__advantages
                .you-will-get__adv-title Earn Steady Profits
                .you-will-get__adv-text Our trading engine works 24/7, 356 days a year. No matter if it’s raining or the sun is shining – BitBunch is getting returns for you. 99.99% uptime, guaranteed! 

                .you-will-get__adv-title Be Fully Insured
                .you-will-get__adv-text All the coins that you send to BitBunch are fully insured against hackers and other malicious attacks. Also if they are stored in any of our integrated exchanges.

                .you-will-get__adv-title Stay in Control
                .you-will-get__adv-text You always have full control over all the assets that you trade with BitBunch. Not satisfied with our service? Just send them back to your wallet. No questions asked! 

            .you-will-get__capabilities

                .you-will-get__cap-block.you-will-get__animation-order-1
                    img(src="./images/you-will-get__cap-image-1.png", alt="")
                    span 24 cryptocurrency exchanges get monitored 24/7
                
                .you-will-get__cap-block.you-will-get__animation-order-2
                    img(src="./images/you-will-get__cap-image-2.png", alt="")
                    span Price differences in 80 currency pairs get monetised
                
                .you-will-get__cap-block.you-will-get__animation-order-3
                    img(src="./images/you-will-get__cap-image-3.png", alt="")
                    span Artificial Intelligence calculates the arbitrage time window
                
                .you-will-get__cap-block.you-will-get__animation-order-4
                    img(src="./images/you-will-get__cap-image-4.png", alt="")
                    span Capital on all exchanges to avoid inter-exchange transactions
                
                .you-will-get__cap-block.you-will-get__animation-order-5
                    img(src="./images/you-will-get__cap-image-5.png", alt="")
                    span All trades get executed instantly and fully automatically
        
        .you-will-get__buttons
            a(href="#").button-orange.you-will-get__start-demo-button.button-hover-white Start demo
            a(href="#").learn-more-button Learn more