.form-wrapper
    section.restore-section
        h2.restore-section__caption Enter your new password
        .restore-section__description 8 or more characters, at least 1 number.
        form#restoreForm.restore__form(novalidate)
            .form-group.restore__form-new-password
                input(type="password" class="form-control form-control-lg required" id="restoreNewPassword" name="newPassword" required)
                span.form-group__placeholder New password
                .tooltip-anchor
            .form-group.restore__form-repeat-password
                input(type="password" class="form-control form-control-lg required" id="restoreRepeatPassword" name="repeatPassword" required)
                span.form-group__placeholder Repeat password
                .tooltip-anchor
            button(type="submit").button-orange.button-hover-white.restore__form-restore Submit
        .restore-section__footer
    
    include ../../protection-section/protection-section.pug