section.account-section.trading-history.recent-logins
    .account-section-headline.trading-history__headline Recent Logins
    .trading-history__table-overflow
        .horiz__clipper._scrollbar
            .horiz__scroller
                table.trading-history__table
                    tr.trading-history__table-row
                        th.table-head.table-col_currencies Device
                        th.table-head.table-col_exchanges Browser
                        th.table-head.table-col_amount Location
                        th.table-head.table-col_time IP
                        th.table-head.table-col_price Date
                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span iPhone X
                        td.table-data.table-col_exchanges
                            span Chrome
                        td.table-data.table-col_amount
                            span USA Ontario
                        td.table-data.table-col_time
                            span 123.324.343
                        td.table-data.table-col_price
                            span 10.10.2020, 15:23
                            
                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span iPhone X
                        td.table-data.table-col_exchanges
                            span Chrome
                        td.table-data.table-col_amount
                            span USA Ontario
                        td.table-data.table-col_time
                            span 123.324.343
                        td.table-data.table-col_price
                            span 10.10.2020, 15:23

            .horiz__track
                .horiz__bar