section.standarts
    .standarts__wrapper

        .section-headline.standarts__headline Our Brand Standarts
        .section__subtitle.standarts__subtitle Be Inspired by our brand standards and use our correct logo.

        .standarts__flex-container

            .standarts__logo-block
                .title Our Logo
                picture
                    source(srcset="./images/standarts__logo-image-mobile.png" media="(max-width: 570px)")
                    source(srcset="./images/standarts__logo-image-tablet.png" media="(max-width: 1000px)")
                    img(src="./images/standarts__logo-image-desktop.png", alt="")
                .descr This is our logo, the one that should always be used. There are three different versions to ensure optimum legibility.
                a(href="#")
                    img(src="./images/standarts__logo-link-icon.png", alt="")

            .standarts__brand-block
                .title Brand Guidelines
                picture
                    source(srcset="./images/standarts__brand-image-mobile.png" media="(max-width: 570px)")
                    source(srcset="./images/standarts__brand-image-tablet.png" media="(max-width: 1000px)")
                    img(src="./images/standarts__brand-image-desktop.png", alt="")
                .descr These guidelines explain how you must use and visually present our brand assets at all times.
                a(href="#")
                    img(src="./images/standarts__brand-link-icon.png", alt="")
