.form-wrapper {
  background-color: $white;
}
.register-section {
  position: relative;
  margin-top: -8rem;
  max-width: 41rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-bottom: 1.5rem;
  background-color: $blue-light;
  box-shadow: 0.125rem 0.25rem 0.375rem rgba(0, 0, 0, 0.05);
  border-radius: 0.125rem;
}

.register-section__caption {
  text-align: center;
  font-family: $main-font-bold;
  font-size: 2rem;
  color: $black-light;
  margin-bottom: 1.25rem;
}

.register-section__description {
  text-align: center;
  font-family: $main-font-medium;
  font-size: 1.125rem;
  color: $black-light;
  margin-bottom: 2rem;
}

.register__form-terms {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  .register__form-terms-link {
    font-family: $main-font-medium;
    font-size: 0.5rem;
  }  
}

.register__form-register {
  width: 100%;
  margin-bottom: 1.875rem;
  height: 3.125rem;
}

.register-section__footer {
  text-align: center;
  font-family: $main-font-medium;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

@import "./register-tablet.scss";
@import "./register-mobile.scss";
