.form-wrapper
    section.register-section
        h2.register-section__caption Register your account.
        .register-section__description It’s 100% free. Forever.
        form#registerForm.register__form(novalidate)
            .form-group.register__form-username
                input(type="text" class="form-control form-control-lg required" id="registerUsername" name="username" required)
                span.form-group__placeholder Username 
                .tooltip-anchor
            .form-group.register__form-email
                input(type="text" class="form-control form-control-lg required" id="registerEmail" name="email" required)
                span.form-group__placeholder Email
                .tooltip-anchor
            .form-group.register__form-password
                input(type="password" class="form-control form-control-lg required" id="registerPassword" name="password" required)
                span.form-group__placeholder Password
                .tooltip-anchor
            .custom-control.custom-checkbox.register__form-terms
                input(type="checkbox" class="custom-control-input" id="registerTerm")
                label(class="custom-control-label" for="registerTerm").register__form-terms-label I read and agree to the
                    =' '
                    a(href="terms-and-conditions.html").register__form-terms-link.link-hover-move Terms and Condition
                    =' '
                    span.register__form-terms-label of use
            button(type="submit").button-orange.button-hover-white.register__form-register Register
        .register-section__footer
            span Already have an account?
            =' '
            a.register-section__footer-link.link-hover-move(href="login.html") Sign In
    
    include ../../protection-section/protection-section.pug