.form-wrapper
    section.register-section
        h2.register-section__caption You're almost there!
        .register-section__description Secure profits. Fully automated.
        form#userdataForm.register__form(novalidate)
            .form-group.register__form-firstname
                input(type="text" class="form-control form-control-lg required" id="registerFirstname" name="firstname" required)
                span.form-group__placeholder First name 
                .tooltip-anchor
            .form-group.register__form-lastname
                input(type="text" class="form-control form-control-lg required" id="registerLastname" name="lastname" required)
                span.form-group__placeholder Last name
                .tooltip-anchor
            .form-group.register__form-country-selector
              select(id="countrySelector" class="form-control form-control-lg required selectpicker" name="country" required)

              span.form-group__placeholder.bootstrap-select-placeholder Country
              .tooltip-anchor
            .form-group.register__form-phonecode
                input(type="text" class="form-control form-control-lg required" id="registerPhonecode" name="phonecode" required)
                span.form-group__placeholder +44
            .form-group.register__form-phonenumber
              input(type="text" class="form-control form-control-lg required" id="registerPhonenumber" name="phonenumber" required)
              span.form-group__placeholder Phone number
              .tooltip-anchor
            button(type="submit").button-orange.button-hover-white.register__form-register Register
        .register-section__footer
            span Already have an account?
            =' '
            a.register-section__footer-link.link-hover-move(href="login.html") Sign In
    
    include ../../protection-section/protection-section.pug