.form-wrapper
    section.register-section
        h2.register-section__caption You're almost there!
        .register-section__description Secure profits. Fully automated.
        form#userdataForm.register__form(novalidate)
            .form-group.register__form-firstname
                input(type="text" class="form-control form-control-lg required" id="registerFirstname" name="firstname" required)
                span.form-group__placeholder First name 
                .error-icon.d-none
                  span !
            .form-group.register__form-lastname
                input(type="text" class="form-control form-control-lg required" id="registerLastname" name="lastname" required)
                span.form-group__placeholder Last name
                .error-icon.d-none
                  span !
            .form-group.register__form-country-selector
              select(id="countrySelector" class="form-control form-control-lg required" name="country" required)
                option
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>American Samoa</span><span>+14</span></span>") 1
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Andorra</span><span>+395</span></span>") 2
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Anguila</span><span>+24</span></span>") 3
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Argentina</span><span>+14</span></span>") 4
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Aruba</span><span>+432</span></span>") 5
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Australia</span><span>+31</span></span>") 6
                option(data-content="<span style='display:flex; justify-content: space-between;'><span>Azerbajan</span><span>+582</span></span>") 7
              span.form-group__placeholder.bootstrap-select-placeholder Country
              .error-icon.d-none
            .form-group.register__form-phonecode
                input(type="text" class="form-control form-control-lg required" id="registerPhonecode" name="phonecode" required)
                span.form-group__placeholder +44
            .form-group.register__form-phonenumber
              input(type="text" class="form-control form-control-lg required" id="registerPhonenumber" name="phonenumber" required)
              span.form-group__placeholder Phone number
              .error-icon.d-none 
                span !
            
            button(type="submit").button-orange.register__form-register Register
        .register-section__footer
            span Already have an account?
            =' '
            a.register-section__footer-link(href="#" target="_blank") Sign In
    
    include ../../protection-section/protection-section.pug