.form-wrapper
    section.register-section
        h2.register-section__caption Verify your email and get access to Bitbunch.
        .register-section__description Thank you for registering, Monika. We’re happy to welcome you onboard. To finish your registration, please click on the verification link that we have sent to monika@yahoo.com.
        picture
          source(srcset="./images/envelope.png")
          img(src="./images/envelope.png" alt="envelope icon").register-section__icon
        .register-section__footer
            span Didn't get the email?
            =' '
            a.register-section__footer-link.link-hover-move(href="#") Re-send it!
    
    include ../../protection-section/protection-section.pug