@media screen and ($tablet1), ($tablet2), ($tablet3) {
  .userdata-header {
  }

  .userdata-header__wrapper {
    padding-top: 3.125rem;
    padding-right: 3.125rem;
    padding-bottom: 20.5rem;
    padding-left: 3.125rem;
    width: 100%;
  }

  .userdata-header__headline-block {
    margin-top: 4.375rem;
  }

  .userdata-header__subtitle {
    width: 20.625rem;
  }
}
