section.account-section.fund-wallet
    .fund-wallet__block-left.choose-blur
        .fund-wallet__bg
        .account-section-headline.fund-wallet__headline Fund your Bitcoin wallet
        .fund-wallet__info Use the QR Code or copy the wallet address 
        .fund-wallet__content The Bitcoin will be credited to your smart wallet after the 3rd confirmation. This usually takes 60 - 90 minutes.
        .fund-wallet__number
            input(type="text" value="3QJmV3qfvL9SuYo34YihAf3sRCW3qSiny" id="walletNumber" readonly)
            button.button-orange.button-copy Copy
    .fund-wallet__block-right.choose-blur
        .account-section-headline.fund-wallet__headline.fund-wallet-qr__headline Use the QR&nbsp;code
        .fund-wallet-qr__code
            img(src="./images/QR@2x.jpg", alt="")
        .fund-wallet__content.fund-wallet-qr__content The Bitcoin will be credited to your smart wallet after the 3rd confirmation. This usually takes 60 - 90 minutes.
    