section.account-section.fund-wallet
    .fund-wallet__block-left.choose-blur
        .fund-wallet__bg
        .account-section-headline.fund-wallet__headline Fund your <span class="fund-wallet__asset">Bitcoin</span> wallet
            .fund-wallet__timer 
                img(src="./images/timer.svg", alt="")
                span 29:57
        .fund-wallet__info Use the QR Code or copy the wallet address 
        .fund-wallet__content The Bitcoin will be credited to your smart wallet after the 3rd confirmation. This usually takes 60 - 90 minutes.
        .fund-wallet__number
            input(type="text" value="" id="walletNumber" readonly)
            button.button-copy.button-orange.button-hover-blue Copy
    .fund-wallet__block-right.choose-blur
        .account-section-headline.fund-wallet__headline.fund-wallet-qr__headline Use the QR&nbsp;code
        .fund-wallet-qr__code
            img(src="./images/QR@2x.jpg", alt="")
        .fund-wallet__content.fund-wallet-qr__content The Bitcoin will be credited to your smart wallet after the 3rd confirmation. This usually takes 60 - 90 minutes.
    