section.main-header
    .main-header__wrapper

        include ../../components/main-nav/main-nav
        
        .main-header__flex-container
            .main-header__description-block
                .main-header__headline Earn Secure Profits From Crypto Price Differences
                .main-header__description-items
                    .main-header__description-item 
                        span.bold Earn secure profits 
                        | with our enterprise level arbitrage AI. 
                    .main-header__description-item 
                        span.bold Stay in control 
                        | with easily customisable trade settings.
                    .main-header__description-item 
                        span.bold All your assets 
                        | are fully insured against hackers.
                a(href="#").button-orange.main-header__try-demo-button.button-hover-blue Try Our Demo!
            .main-header__video-block
                .main-header__video-poster
                    .video-play-button.main-header__video-play-button
                
        .best-exchanges
            .best-exchanges__title We work with the best exchanges on the market
            picture
                source(srcset="./images/best-exchanges__image-1-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-1.png" alt="").best-exchanges__image
            picture
                source(srcset="./images/best-exchanges__image-2-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-2.png" alt="").best-exchanges__image
            picture
                source(srcset="./images/best-exchanges__image-3-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-3.png" alt="").best-exchanges__image
            picture
                source(srcset="./images/best-exchanges__image-4-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-4.png" alt="").best-exchanges__image
            picture
                source(srcset="./images/best-exchanges__image-5-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-5.png" alt="").best-exchanges__image
            picture
                source(srcset="./images/best-exchanges__image-6-white.png" media="(max-width: 1000px)")
                img(src="./images/best-exchanges__image-6.png" alt="").best-exchanges__image

           

            
