.form-wrapper
    section.check-email-section
        h2.check-email-section__caption Please check your email
        .check-email-section__description A link to reset your password has been sent.
        .check-email-section__buttons
          a(href="login.html" target="_blank").button-orange.button-hover-white.check-email__form-signin Sign in
          a(href="register.html" target="_blank").button-blue.blue-button-hover-white.check-email__form-signup Sign up
        .check-email-section__footer
            a.check-email-section__footer-link(href="home.html" target="_blank") Back to the home page
    
    include ../protection-section/protection-section.pug