@media screen and ($tablet1), ($tablet2), ($tablet3) {
  .form-wrapper {
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }
  .check-email-section {
    width: 100%;
    margin-top: -7rem;
  }

}
