extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/pressroom-header/pressroom-header
    include ../../blocks/news-releases/news-releases
    //- include ../../blocks/standarts/standarts
    
    
