.cookies-bar
    .cookies__wrapper
        .cookies__message Cookies help us customise BitBunch for you. To learn more about how we use cookies, view our 
            a(href="#") Cookie Policy
            | . By clicking “I accept” you agree to our use of cookies.
        button.cookies__agree-button.cookies-bar__close-button.button-hover-blue I Agree
        button.cookies__close-button.cookies-bar__close-button