.cookies-bar {
  position: fixed;
  right: 0;
  bottom: -6rem;
  left: 0;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 5.125rem;
  background-color: #353f63;
  transition: bottom 300ms ease-in-out;

  &.block {
    display: block;
  }

  &.up {
    bottom: 0;
  }
}

.cookies-bar.active {
  display: block;
}

.cookies__wrapper {
  align-items: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  max-width: 83.5rem;
  height: 100%;
}

.cookies__message {
  width: 39.25rem;
  font-family: $main-font-semi-bold;
  font-size: .75rem;
  letter-spacing: -.13px;
  line-height: 1.125rem;
  color: $white;

  a {
    color: $orange;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cookies__agree-button {
  margin-left: auto;
  width: 6.25rem;
  height: 2.625rem;
  border-radius: .125rem;
  box-shadow: 0 .125rem .25rem rgba(93, 88, 88, .1);
  background-color: $orange;
  font-family: $main-font-bold;
  font-size: .875rem;
  color: $white;
  transition: 300ms;
  transform-origin: center;

  &:hover {
    transform: scaleX(1.1);
  }
}

.cookies__close-button {
  margin-left: 3.4375rem;
  width: 1rem;
  height: 1rem;
  border: 0;
  background-color: #353f63;
  background-image: url("./images/cookies__close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and ($tablet1), ($tablet2), ($tablet3) {

  .cookies-bar {
    bottom: -7rem;
    height: 6.3125rem;

    &.block {
      display: block;
    }

    &.up {
      bottom: 0;
    }
  }

  .cookies__wrapper {
    max-width: 42rem;
  }

  .cookies__message {
    width: 23.4375rem;
  }

  .cookies__close-button {
    margin-left: 3rem;
  }
}

@media screen and ($mobile1), ($mobile2), ($mobile3) {

  .cookies-bar {
    bottom: -10rem;
    height: auto;

    &.block {
      display: block;
    }

    &.up {
      bottom: 0;
    }
  }

  .cookies__wrapper {
    position: relative;
    align-items: flex-end;
    padding-top: 1.125rem;
    padding-bottom: 1.25rem;
    max-width: 17.25rem;
  }

  .cookies__message {
    width: 10rem;
    font-size: .625rem;
    letter-spacing: -.11px;
    line-height: 1rem;
  }

  .cookies__agree-button {
    width: 4.625rem;
    height: 1.9375rem;
    font-size: .625rem;
    line-height: .8125rem;
  }

  .cookies__close-button {
    position: absolute;
    top: 1.125rem;
    right: 0;
  }
}
