// colors
$white: #ffffff;
$black: #000000;
$black-light: #43425f;
$orange: #fa8f68;
$yellow: #ffa72e;
$blue: #324ea3;
$grey: #616884;
$dark-grey: #333333;
$blue-light: #f2f4fd;
$blue-deep: #180743;
$green-light: #1cc7a1;
$red: red;
$pink-light: #efc7c2;

// fonts
$main-font-light: "SarabunLight", arial, sans-serif;
$main-font-regular: "SarabunRegular", arial, sans-serif;
$main-font-medium: "SarabunMedium", arial, sans-serif;
$main-font-bold: "SarabunSemiBold", arial, sans-serif;
$main-font-extra-bold: "SarabunExtraBold", arial, sans-serif;

$main-font-black: "latoBlack", arial, sans-serif;
$second-font-bold: "HindSlSemiBold", arial, sans-serif;

// less then 1440px
$nout1: "max-width: 1440px";
$nout2: "max-width: 1440px";
$nout3: "max-width: 1440px";

// tablet
$tablet1: "max-width: 1000px";
$tablet2: "max-width: 1000px";
$tablet3: "max-width: 1000px";

// mobile
$mobile1: "max-width: 570px";
$mobile2: "max-width: 570px";
$mobile3: "max-width: 570px";
