section.main-header.hiw-header.border-bottom
    .main-header__wrapper.hiw-header__wrapper

        include ../../components/main-nav/main-nav
        
        .main-header__flex-container
            .hiw-header__headline-block
                .section-main-headline.hiw-header__headline Want to Find Out How it Works?
                .section-main-subtitle.hiw-header__subtitle You came to the right place! Take a look at software behind BitBunch.
                a(href="#").button-orange.hiw-header__register-button Register Now!

            .main-header__video-block.hiw-header__video-block
                .main-header__video-poster
                    .video-play-button.main-header__video-play-button

           

            
