section.bit-media
    .bit-media__wrapper

        .section-headline.bit-media__headline BitBunch in The Media
        .section__subtitle.bit-media__subtitle Discover what people are saying about us.

        .bit-media__news-card.bit-media__last-news-card
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-2.png", alt="")
                    .bage.bage-blue New Event
                .bit-media__news-text
                    .title Meet 100+ Top Industry Experts
                    .news Join us at the International Conference, Oct 28-29, 2018 in Zurich, Switzerland. Register now and save up to 38% with early rates! 100+ Global Speakers. Networking Opportunities. Extended 3 Track Program.
                    .date 20.09.2018    

        .bit-media__flex-block

            a(href="#").bit-media__news-card
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-1.png", alt="")
                    .bage.bage-orange Interview
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title Blockchain 3.0?
                    .date 20.09.2018      

            a(href="#").bit-media__news-card.bit-media__news-card-long
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-2.png", alt="")
                    .bage.bage-blue New Event
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title Meet 100+ Top Industry Experts
                    .news Join us at the International Conference, Oct 28-29, 2018 in Zurich, Switzerland. Register now and save up to 38% with early rates! 100+ Global Speakers. Networking Opportunities. Extended 3 Track Program.
                    .date 28.09.2018    

            a(href="#").bit-media__news-card
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-3.png", alt="")
                    .bage.bage-yellow About Us
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title G20 Crypto Regulations
                    .date 21.09.2018

            a(href="#").bit-media__news-card
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-4.png", alt="")
                    .bage.bage-yellow Partners
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title Ripple Grapples
                    .date 15.09.2018          

            a(href="#").bit-media__news-card.bit-media__news-card-long
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-5.png", alt="")
                    .bage.bage-yellow Regulation
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title Regulating the new economy
                    .date 20.09.2018

            a(href="#").bit-media__news-card
                .bit-media__img-container
                    img(src="./images/bit-media__img-container-6.png", alt="")
                    .bage.bage-orange Interview
                    .bit-media__img-shadow
                        span Read More
                .bit-media__news-text
                    .title Who affect BTC price?
                    .date 13.09.2018
        
        a(href="#").button-blue.bit-media__more-button More Articles