section.faq
    .faq__wrapper

        .faq__flex-container

            .faq__headline-block

                .faq__headline Didn't find an answer to your question?
                .faq__headline Our technical support team is always ready to&nbsp;help you.

                .faq__contact-container

                    .faq__contact-block
                        .section-small-title.faq__title Contact us any time at
                        a(href="mailto:help@bitbunch.com").faq__link
                            img(src="./images/faq__link-email-icon.png", alt="")
                            span help@bitbunch.com
                
                    .faq__contact-block
                        .section-small-title.faq__title Use our support line 
                        .section-small-title.work-time Mo-Fr 9-18
                        a(href="tel:+447911257986").faq__link
                            img(src="./images/faq__link-phone-icon.png", alt="")
                            span + 44 7911 257986
                
                .section-small-title.faq__title You can also
                a(href="#").button-orange.faq__ticket-button Create a new ticket

            .faq__answer-block

                .section-small-title.faq__title general questions

                .accordion
                    .accordion__headline What you can earn with Bitbunch
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline How much does a Bitbunch cost
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Supported exchanges/coins
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                .accordion
                    .accordion__headline Locked account
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Two factor authentication (2FA)
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest.

                
                .section-small-title.faq__title general questions

                .accordion
                    .accordion__headline Verification levels
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline How to get verified
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Linked bank accounts
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 


                .section-small-title.faq__title Withdraw/Deposit

                .accordion
                    .accordion__headline Supported methods
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Deposited wrong coins
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Missing withdrawals
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Deposit does not arrive
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 
                
                .accordion
                    .accordion__headline Withdraw to wrong address
                        .accordion__arrow
                    .accordion__dropdown
                        .accordion__dropdown-wrapper
                            p The process consists of a completing an online questionnaire and submitting supporting documentation. A signed declaration confirming the accuracy of the submitted information is required, authorising Bitbunch to complete the verification process.
                            p Processing times for verification can take up to 1-2 days, depending on the level of public interest. 

