section.account-section.daily-trades
    .account-section-headline.daily-trades__headline Daily trades
    .daily-trades__content Select the amount of daily trades that you want to perform. The more trades you choose, the more profits you can earn. Daily trades are averages.
    .daily-trades__range
        input(type="range" min="5" max="20" value="10" step="5" id="dailyTradesRange").daily-trades__range-input
        .daily-trades__range-values
            .daily-trades__range-value 5
            .daily-trades__range-value 10
            .daily-trades__range-value 15
            .daily-trades__range-value 20