.modal__header
    .modal__close(data-dismiss="modal" aria-label="Close")
    img(src="./images/shield.svg", alt="").modal__header-icon
    .modal__header-text
        .modal__header-title Change email
        .modal__header-description Confirm your new address
.modal__body
    form#changeEmailForm.changeEmail__form(novalidate)
        .form-group
            input(type="email" class="form-control form-control-lg required" id="changeEmailCurrent" name="email-current" required disabled value="miguel.torres@gmail.com")
            span.form-group__placeholder.has-content Your current email address
            .error-icon.d-none
              span !
        .form-group
            input(type="email" class="form-control form-control-lg required" id="changeEmailNew" name="email-new" required disabled)
            span.form-group__placeholder.has-content Your new email address
            .error-icon.d-none
              span !
        .form-group
            input(type="password" class="form-control form-control-lg required" id="changeEmailPassword" name="password" required)
            span.form-group__placeholder Enter your password
            .error-icon.d-none 
              span !
        button(type="submit").button-orange.button-hover-white Submit