.modal__header
    .modal__close(data-dismiss="modal" aria-label="Close")
    img(src="./images/shield.svg", alt="").modal__header-icon
    .modal__header-text
        .modal__header-title <span class="security-status">Enable</span> 2FA verification
        .modal__header-description We sent an SMS to your phone number
.modal__body
    form#verification2faForm.verification2fa__form(novalidate)
        .form-group
            input(type="text" class="form-control form-control-lg required" id="verification2faPhone" name="phone" required)
            span.form-group__placeholder Your  phone number
            .tooltip-anchor
        .form-group
            input(type="text" class="form-control form-control-lg required" id="verification2faCode" name="code" required)
            span.form-group__placeholder Enter your 2FA code
            .tooltip-anchor
            button(type="button").form-group__button.link-hover-move Re-send
        button(type="submit").button-orange.button-hover-white Submit