.modal__header
    .modal__close(data-dismiss="modal" aria-label="Close")
    img(src="./images/shield.svg", alt="").modal__header-icon
    .modal__header-text
        .modal__header-title Authenticate withdrawal
        .modal__header-description Carefully check the address before submitting
.modal__body
    form#withdrawalAuthForm.withdrawalAuth__form(novalidate)
        .form-group
            input(type="text" class="form-control form-control-lg required" id="withdrawalAuthAmount" name="amount" disabled required)
            span.form-group__placeholder Amount
            .tooltip-anchor
        .form-group
            input(type="text" class="form-control form-control-lg required" id="withdrawalAuthWallet" name="wallet" disabled required)
            span.form-group__placeholder Wallet address
            .tooltip-anchor
        .form-group
            input(type="text" class="form-control form-control-lg required" id="withdrawalAuthCode" name="code" required)
            span.form-group__placeholder Enter your authenticator code
            .tooltip-anchor
        button(type="submit").button-orange.button-hover-white Submit