section.account-section.withdrawals
    .account-section-headline.withdrawals__headline Open withdrawals
    .withdrawals__table.withdrawals__table_action
        .withdrawals__table-row.withdrawals__table-row-head
            .table-head.table-col_currency Currency
            .table-head.table-col_amount Amount
            .table-head.table-col_address Address
            .table-head.table-col_button Action
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/bitcoin.svg", alt="")
                span <b>Bitcoin</b> (BTC)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 14:54
            .table-data.table-col_amount
                span 13.048128 BTC
            .table-data.table-col_address
                span.ellipsis 1FfmbHfnpaZjKFvyi1okTjJJusN455paPH
                span 1FfmbHfnpaZjKFvyi1okTjJJusN455paPH
            .table-data.table-col_button
                a(href="#").button-red cancel
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/ethereum.svg", alt="")
                span <b>Ethereum</b> (ETH)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 12:35
            .table-data.table-col_amount
                span 159.402942 ETH
            .table-data.table-col_address
                span.ellipsis LXA3i9eEAVDbgDqkThCa4D6BUJ3SEULkEr
                span LXA3i9eEAVDbgDqkThCa4D6BUJ3SEULkEr
            .table-data.table-col_button
                a(href="#").button-red cancel
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/tether.svg", alt="")
                span <b>Tether</b> (USDT)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 16:59
            .table-data.table-col_amount
                span 2 391.49503 USDT
            .table-data.table-col_address
                span.ellipsis r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV
                span r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV
            .table-data.table-col_button
                a(href="#").button-red cancel

section.account-section.withdrawals
    .account-section-headline.withdrawals__headline Past withdrawals
    .withdrawals__table
        .withdrawals__table-row.withdrawals__table-row-head
            .table-head.table-col_currency Currency
            .table-head.table-col_date Date/Time
            .table-head.table-col_amount Amount
            .table-head.table-col_address Address
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/bitcoin.svg", alt="")
                span <b>Bitcoin</b> (BTC)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 14:54
            .table-data.table-col_amount
                span 13.048128 BTC
            .table-data.table-col_address
                span 1FfmbHfnpaZjKFvyi1okTjJJusN455paPH
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/ethereum.svg", alt="")
                span <b>Ethereum</b> (ETH)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 12:35
            .table-data.table-col_amount
                span 159.402942 ETH
            .table-data.table-col_address
                span LXA3i9eEAVDbgDqkThCa4D6BUJ3SEULkEr
        .withdrawals__table-row
            .table-data.table-col_currency
                img(src="./images/tether.svg", alt="")
                span <b>Tether</b> (USDT)
            .table-data.table-col_date
                span 02.04.2020 &nbsp;
                span 16:59
            .table-data.table-col_amount
                span 2 391.49503 USDT
            .table-data.table-col_address
                span r3kmLJN5D28dHuH8vZNUZpMC43pEHpaocV                