section.main-header.help-center-header.border-bottom
    .help-center-header__wrapper

        include ../../components/main-nav/main-nav

        .help-center-header__headline-block
            .section-main-headline.help-center-header__headline Help Center
            .section-main-subtitle.help-center-header__subtitle Find in our FAQ’s fast and correct answers on your questions
            a(href="#").button-orange.help-center-header__support-button Contact support
    
        .help-center-header__decor
