section.get-started
    .get-started__wrapper

        .section__subtitle.get-started__subtitle What are you waiting for?
        .section-headline.get-started__headline How Do I Get Started
        a(href="register.html").button-orange.get-started__button.button-hover-blue GET STARTED
        

        