section.our-team
    .our-team__wrapper

        .section-headline.our-team__headline Our Team
        .section__subtitle.our-team__subtitle Meet the team members behind BitBunch

        .our-team__flex-container

            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-1.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Julian Sydney
                    .position CMO
                img(src="./images/our-team__member-foto-2.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Noel Jacobson
                    .position CTO
                img(src="./images/our-team__member-foto-3.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Denise Payne
                    .position CFO
                img(src="./images/our-team__member-foto-4.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Adela Evelyn
                    .position PR Manager
                img(src="./images/our-team__member-foto-5.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Jerrie Kay
                    .position Head of Development
                img(src="./images/our-team__member-foto-6.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Allie William
                    .position Head of Customer Care
                img(src="./images/our-team__member-foto-7.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name Jerrod Sargent
                    .position Sr. Marketing Manager
                img(src="./images/our-team__member-foto-8.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
                    
        a(href="#").button-blue.our-team__more-button All Team Members


        