section.main-header.blog-header.border-bottom
    .blog-header__wrapper

        include ../../components/main-nav/main-nav

        .blog-header__headline-block
            .section-main-headline.blog-header__headline Blog
            .section-main-subtitle.blog-header__subtitle Welcome to Bitbunch blog. If you wish to make a press inquiry please contact us below
            a(href="contact.html").button-orange.blog-header____contact-us-button.button-hover-blue Contact Us
    
        .blog-header__decor
