section.arbitrage
    .arbitrage__decor
    .arbitrage__wrapper

        .section-main-headline.arbitrage__headline Arbitrage on BitBunch Works Because

        .arbitrage__flex-container

            .arbitrage__card.arbitrage__card-1
                img(src="./images/arbitrage__card-icon-1.png", alt="")
                .title High Liquidity
                .description We have funds in all major currencies in over 30 different  exchanges. All trades can be placed instantly.

            .arbitrage__card.arbitrage__card-2
                img(src="./images/arbitrage__card-icon-2.png", alt="")
                .title Small Fees
                .description To reduce the trading fees that we have on the exchanges, we always accumulate the trades from our customers.

            .arbitrage__card.arbitrage__card-3
                img(src="./images/arbitrage__card-icon-2.png", alt="")
                .title Instant Trades
                .description We are directly connected to all our exchanges via API. Every trade gets placed instantly and automatically

            .arbitrage__card.arbitrage__card-4
                img(src="./images/arbitrage__card-icon-4.png", alt="")
                .title Leverage 10
                .description Arbitrage trades are secure, but the profits usually very low. That’s why we’re leveraging your investment by 10.


