section.arbitrage
    .arbitrage__wrapper

        .section-main-headline.arbitrage__headline Arbitrage on BitBunch Works Because

        .arbitrage__flex-container

            .arbitrage__flex-block.arbitrage__anim-block-1
                .title High Liquidity
                .descr We have funds in all major currencies in over 30 different  exchanges. All trades can be placed instantly.

            .arbitrage__flex-block.arbitrage__anim-block-2
                .title Small Fees
                .descr To reduce the trading fees that we have on the exchanges, we always accumulate the trades from our customers.

            .arbitrage__flex-block.arbitrage__anim-block-3
                .title Instant Trades
                .descr We are directly connected to all our exchanges via API. Every trade gets placed instantly and automatically

            .arbitrage__flex-block.arbitrage__anim-block-4
                .title Leverage 10
                .descr Arbitrage trades are secure, but the profits usually very low. That’s why we’re leveraging your investment by 10.

