.document-header {
  background-image: url("./images/document-header-bg-desktop.png");
}

.document-header__wrapper {
  padding-bottom: 4.3125rem;
}

.document-header__headline-block {
  margin-top: 4.3125rem;
}
