section.main-header.document-header.border-bottom
    .main-header__wrapper.document-header__wrapper

        include ../../components/main-nav/main-nav

        .document-header__headline-block
            .section-main-headline.document-header__headline Cookies Policy