section.account-section.your-assets
    .account-section-headline.your-assets__headline Your assets
    .your-assets__content You can start and stop your smart wallets from the Trading AI dashboard.
    .your-assets__table
        .your-assets__table-row.your-assets__table-row-head
            .table-head.table-col_assets Asset
            .table-head.table-col_balance Balance
            .table-head.table-col_profit Profit/Loss
            .table-head.table-col_reports Reports
            .table-head.table-col_trading Trading
            .table-head.table-col_invest Invest
        .your-assets__table-row
            .table-data.table-col_assets
                img(src="./images/bitcoin.svg", alt="")
                span <b>Bitcoin</b> (BTC)
            .table-data.table-col_balance
                span 13.048128 BTC
            .table-data.table-col_profit
                img(src="./images/caret-up.svg", alt="")
                span.color_success 0.212%
            .table-data.table-col_reports
                a(href="#") View reports
            .table-data.table-col_trading
                input(id="td-col_assets-1" type="checkbox" checked).checkbox-btn
                label(for="td-col_assets-1")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .table-data.table-col_invest
                a(href="#").button-orange.button-hover-white invest
        .your-assets__table-row
            .table-data.table-col_assets
                img(src="./images/ethereum.svg", alt="")
                span <b>Ethereum</b> (ETH)
            .table-data.table-col_balance
                span 159.402942 ETH
            .table-data.table-col_profit
                img(src="./images/caret-up.svg", alt="")
                span.color_success 13.039%
            .table-data.table-col_reports
                a(href="#") View reports
            .table-data.table-col_trading
                input(id="td-col_assets-2" type="checkbox").checkbox-btn
                label(for="td-col_assets-2")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .table-data.table-col_invest
                a(href="#").button-orange.button-hover-white invest
        .your-assets__table-row
            .table-data.table-col_assets
                img(src="./images/tether.svg", alt="")
                span <b>Tether</b> (USDT)
            .table-data.table-col_balance
                span 2 391.49503 USDT
            .table-data.table-col_profit
                img(src="./images/caret-down.svg", alt="")
                span.color_danger 0.129%
            .table-data.table-col_reports
                a(href="#") View reports
            .table-data.table-col_trading
                input(id="td-col_assets-3" type="checkbox" checked).checkbox-btn
                label(for="td-col_assets-3")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .table-data.table-col_invest
                a(href="#").button-orange.button-hover-white invest