@media screen and ($tablet1), ($tablet2), ($tablet3) {
  .your-assets__headline {
    margin-bottom: 1.875rem;
  }
  .table-col_reports {
    display: none;
  }
  .table-col_invest {
    display: none;
  }
  .table-col_profit {
    width: 11.25rem;
  }
  .table-col_trading{
    width: 4.0625rem;
  }
}