section.profits
    .profits__wrapper

        .section-headline.profits__headline How Bitbunch Earns Profits&nbsp;For You…
        .section__subtitle.profits__subtitle To better understand what BitBunch does, let’s take at a real trade that happened on 18.05.2020 at 14:59 EST.

        .profits__slider-container

            .profits__slider-block
                .profits__slider-title Analyse all currencies and exchanges
                    .num 1.
                .section__subtitle.profits__slider-subtitle The Bitbunch Trading Engine constantly monitors over 80 cryptocurrencies on 24 exchanges to find promising arbitrage opportunities. 

                picture
                    source(srcset="./images/profits__slider-block-1-mobile.png" media="(max-width: 570px)")
                    img(src="./images/profits__slider-block-1-desktop.png" alt="").profits__slider-image
            
            .profits__slider-block
                .profits__slider-title Analyse all currencies and exchanges
                    .num 2.
                .section__subtitle.profits__slider-subtitle The Bitbunch Trading Engine constantly monitors over 80 cryptocurrencies on 24 exchanges to find promising arbitrage opportunities. 

                picture
                    source(srcset="./images/profits__slider-block-1-mobile.png" media="(max-width: 570px)")
                    img(src="./images/profits__slider-block-1-desktop.png" alt="").profits__slider-image

            .profits__slider-block
                .profits__slider-title Analyse all currencies and exchanges
                    .num 3.
                .section__subtitle.profits__slider-subtitle The Bitbunch Trading Engine constantly monitors over 80 cryptocurrencies on 24 exchanges to find promising arbitrage opportunities. 

                picture
                    source(srcset="./images/profits__slider-block-1-mobile.png" media="(max-width: 570px)")
                    img(src="./images/profits__slider-block-1-desktop.png" alt="").profits__slider-image

