section.profits
    .profits__wrapper

        .section-headline.profits__headline How Bitbunch Earns Profits For You…
        .section__subtitle.profits__subtitle To better understand what BitBunch does, let’s take at a real trade that happened on 18.05.2020 at 14:59 EST.

        .profits__slider-container

            .profits__slider-dot-left.none
            .profits__slider-dot-right

            .profits__slider-wrapper

                .profits__slider-block
                    .profits__slider-title.profits__animation-order-1 Analyse all currencies and exchanges
                        .num 1.
                    .section__subtitle.profits__slider-subtitle.profits__animation-order-2 The Bitbunch Trading Engine constantly monitors over 80 cryptocurrencies on 24 exchanges to find promising arbitrage opportunities. 
                
                .profits__slider-block
                    .profits__slider-title Spot a different price for LTC/BTC
                        .num 2.
                    .section__subtitle.profits__slider-subtitle
                        p On Binance, we can buy Litecoin for 0.006 Bitcoin.
                        p On Bitfinex, we can sell Litecoin for 0.0062 Bitcoin.

                .profits__slider-block
                    .profits__slider-title Buy & sell simultaneously
                        .num 3.
                    .section__subtitle.profits__slider-subtitle 
                        p On Binance, we use 1 BTC to buy 166.66 LTC (1/0.006 = 166.66 LTC).
                        p On Bitfinex, we use 166.66 LTC to buy 1.0332 BTC (166.66*0.0068 = 1.0332 BTC).
                
                .profits__slider-block
                    .profits__slider-title Generate a risk free profit
                        .num 4.
                    .section__subtitle.profits__slider-subtitle 
                        p When both trades are closed, we send the 166.66 LTC from Binance to Bitfinex. So Bitfinex has the same amount of Litecoin as before.
                        p.m-top Then we send the 1.0332 BTC from Bitfinex to Binance, so we now have 0.0332 BTC more than before.

        .profits__slider-image
            picture
                source(srcset="./images/profits__slider-block-1-mobile.png" media="(max-width: 570px)")
                img(src="./images/profits__slider-block-1-desktop.png" alt="")
