extends ../../templates/account

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block header-button
    a(href="#").account-nav__button.button-orange.button-hover-white.choosing-coin invest

block content
    .account-header
      .account-header__left
          .account-app-headline Bitbunch app
          .account-main-headline Live Trades
      a(href="#").account-header__button.button-orange.button-hover-white.choosing-coin invest

    include ../../blocks/choosing-coin/choosing-coin
    include ../../blocks/trade-animation/trade-animation
    include ../../blocks/trading-history/trading-history

block append scripts
    script(src="js/hiwTrade.js")