.our-team__footer
    .our-team__footer-container
        .our-team__footer-get-in-touch#anim-footer-trigger
            h6#anim-footer-1 One more thing
            h3#anim-footer-2 Get in touch. Stay in touch.

            .our-team__footer-blocks#anim-footer-3
                .our-team__footer-block#anim-footer-4
                    img(src="./images/our-team__footer-img-1.png", alt="Image")
                    div
                        h4 24/7 Support 
                        p Got a problem? Just get in touch. Our support team is available 24/7.
                .our-team__footer-block#anim-footer-5
                    img(src="./images/our-team__footer-img-2.png", alt="Image")
                    div
                        h4 Binance Blog
                        p News and updates from the world’s leading cryptocurrency exchange. 
                .our-team__footer-block#anim-footer-6
                    img(src="./images/our-team__footer-img-3.png", alt="Image")
                    div
                        h4 Community
                        p Binance is global. Join the discussion in our worldwide communities.
                .our-team__footer-block#anim-footer-7
                    img(src="./images/our-team__footer-img-4.png", alt="Image")
                    div
                        h4 Careers
                        p Help build the future of technology. Start your new career at Binance. 

                
