@media screen and ($mobile1), ($mobile2), ($mobile3) {

  .our-team__footer-get-in-touch {

    h6 {
      margin-bottom: rem(14px);
      font-size: rem(12px);
      line-height: rem(16px);
    }

    h3 {
      margin-bottom: rem(32px);
      font-size: rem(22px);
      line-height: rem(32px);
    }

    .our-team__footer-blocks {
      flex-wrap: wrap;
      padding: rem(24px) rem(30px) rem(32px);
      width: rem(272px);

      .our-team__footer-block {
        margin-bottom: rem(32px);
        margin-left: 0;
        width: rem(212px);
        height: rem(134px);
        text-align: center;

        &:last-of-type {
          margin-bottom: 0;
        }

        img {
          margin-right: auto;
          margin-left: auto;
          transform: scale(.7);
        }

        h4 {
          margin-bottom: rem(8px);
          font-size: rem(14px);
          line-height: rem(18px);
        }

        p {
          font-size: rem(12px);
          line-height: rem(24px);
        }
      }
    }
  }
}
