section.account-section.trading-currencies
    .trading-currencies__header
        .trading-currencies__header-left
            .account-section-headline.trading-currencies__headline Trading currencies
            .trading-currencies__content Choose which currencies you want to trade with. If you disable a certain currency, all your smart wallet will avoid trades with this currency.
        .trading-currencies__header-filter
            <span>28</span>&nbsp;from&nbsp;<span>32</span>
            .trading-currencies__header-filter-icon
                img(src="./images/filter.svg", alt="")
    .trading-currencies__list
        .trading-currencies__list-column
            .currencies__item
                .currencies__item-icon