section.account-section.trading-currencies
    .trading-currencies__header
        .account-section-headline.trading-currencies__headline Trading currencies
        .trading-currencies__content Choose which currencies you want to trade with. If you disable a certain currency, all your smart wallet will avoid trades with this currency.
        .trading-currencies__header-icon
    .trading-currencies__list