section.account-section.trading-currencies
    .trading-currencies__header
        .trading-currencies__header-left
            .account-section-headline.trading-currencies__headline Trading currencies
            .trading-currencies__content Choose which currencies you want to trade with. If you disable a certain currency, all your smart wallet will avoid trades with this currency.
        .trading-currencies__header-filter
            <span>28</span>&nbsp;from&nbsp;<span>32</span>
            .trading-currencies__header-filter-icon
                img(src="./images/filter.svg", alt="")
    .trading-currencies__list
        .trading-currencies__list-column
            label(for="currencies__item_1").currencies__item
                img(src="./images/btc-bitcoin.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Bitcoin</b> BTC
                input(type="checkbox" id="currencies__item_1" checked)
                .currencies__item-point
            label(for="currencies__item_2").currencies__item
                img(src="./images/eth-etherium.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Etherium</b> ETH
                input(type="checkbox" id="currencies__item_2" checked)
                .currencies__item-point
            label(for="currencies__item_3").currencies__item
                img(src="./images/ltc-litecoin.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Litecoin</b> LTC
                input(type="checkbox" id="currencies__item_3" checked)
                .currencies__item-point
            label(for="currencies__item_4").currencies__item
                img(src="./images/strat-stratis.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Stratis</b> STRAT
                input(type="checkbox" id="currencies__item_4" checked)
                .currencies__item-point
        
        .trading-currencies__list-column    
            label(for="currencies__item_5").currencies__item
                img(src="./images/bch-bitcoin-cash.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Bitcoin Cash</b> BCH
                input(type="checkbox" id="currencies__item_5" checked)
                .currencies__item-point
            label(for="currencies__item_6").currencies__item
                img(src="./images/ztc-zcash.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Zcash</b> ZTC
                input(type="checkbox" id="currencies__item_6" checked)
                .currencies__item-point
            label(for="currencies__item_7").currencies__item
                img(src="./images/xrp-ripple.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Ripple</b> XRP
                input(type="checkbox" id="currencies__item_7")
                .currencies__item-point
            label(for="currencies__item_8").currencies__item
                img(src="./images/dcr-decred.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Decred</b> DCR
                input(type="checkbox" id="currencies__item_8")
                .currencies__item-point
        
        .trading-currencies__list-column
            label(for="currencies__item_9").currencies__item
                img(src="./images/btc-bitcoin.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Bitcoin</b> BTC
                input(type="checkbox" id="currencies__item_9" checked)
                .currencies__item-point
            label(for="currencies__item_10").currencies__item
                img(src="./images/eth-etherium.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Etherium</b> ETH
                input(type="checkbox" id="currencies__item_10" checked)
                .currencies__item-point
            label(for="currencies__item_11").currencies__item
                img(src="./images/ltc-litecoin.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Litecoin</b> LTC
                input(type="checkbox" id="currencies__item_11" checked)
                .currencies__item-point
            label(for="currencies__item_12").currencies__item
                img(src="./images/strat-stratis.svg", alt="").currencies__item-icon
                .currencies__item-name <b>Stratis</b> STRAT
                input(type="checkbox" id="currencies__item_12" checked)
                .currencies__item-point