extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/hiw-header/hiw-header
    include ../../blocks/arbitrage/arbitrage
    include ../../blocks/profits/profits
    include ../../blocks/started/started
    include ../../blocks/upfront/upfront
    
    
