extends ../../templates/home

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/hiw-header/hiw-header
    
    
