extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/hiw-header/hiw-header
    include ../../blocks/arbitrage/arbitrage
    include ../../blocks/profits/profits
    include ../../blocks/get-started/get-started
    include ../../blocks/rates/rates
    include ../../blocks/ai-trading/ai-trading
    include ../../blocks/calculation/calculation
    include ../../blocks/started/started
    include ../../blocks/upfront/upfront
