extends ../../templates/home

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/main-header/main-header
    include ../../blocks/you-will-get/you-will-get
    include ../../blocks/bit-stats/bit-stats
    include ../../blocks/how-it-works/how-it-works
    include ../../blocks/our-founders/our-founders
    include ../../blocks/our-team/our-team
    include ../../blocks/bit-media/bit-media
    include ../../blocks/we-earn/we-earn
    
    
