section.upfront
    .upfront__wrapper

        .upfront__flex-container

            .upfront__header-block
                .section-headline.upfront__headline No Upfront Payments! We&nbsp;Share the Success!
                .section__subtitle.upfront__subtitle The pricing is fair and simple. We only earn, when you do. BitBunch will receive a share of the profits it generates for you. Depending on the size of your investment, our profit share will vary. 
                
            .upfront__table-block

                .upfront__table-row
                    .upfront__table-image
                        img(src="./images/upfront__table-image.png", alt="")
                    .upfront__investment-col
                        .title Investment
                        .value up to 0.5 BTC
                    .upfront__commission-col
                        .title Commission
                        .value 30%
                
                .upfront__table-row
                    .upfront__table-image
                        img(src="./images/upfront__table-image.png", alt="")
                    .upfront__investment-col
                        .title Investment
                        .value from 0.5 to 4 BTC
                    .upfront__commission-col
                        .title Commission
                        .value 20%
                
                .upfront__table-row
                    .upfront__table-image
                        img(src="./images/upfront__table-image.png", alt="")
                    .upfront__investment-col
                        .title Investment
                        .value 4 BTC - 10 BTC
                    .upfront__commission-col
                        .title Commission
                        .value 10%
                
                .upfront__table-row
                    .upfront__table-image
                        img(src="./images/upfront__table-image.png", alt="")
                    .upfront__investment-col
                        .title Investment
                        .value 10 BTC - 25 BTC
                    .upfront__commission-col
                        .title Commission
                        .value 5%
                
                .upfront__table-row
                    .upfront__table-image
                        img(src="./images/upfront__table-image.png", alt="")
                    .upfront__investment-col
                        .title Investment
                        .value 25 BTC or more
                    .upfront__commission-col
                        .title Commission
                        .value 3%

                a(href="register.html").button-orange.upfront__start-investing-button start investing today