section.career
    .career__wrapper

        .career__accordion-container

            .career__accordion-title Currently we have 8 open job offers

            .career__accordion
                .career__acd-headline-block
                    img(src="./images/career__acd-headline -icon-1.png", alt="")
                    .career__acd-headline
                        .section-small-title.career__acd-type DEVELOPMENT
                        .career__acd-descr What you can earn with Bitbunch
                    .career__acd-address London, UK
                    .button-blue.career__acd-button Show detail
                .career__acd-dropdown
                    .accordion__acd-wrapper
                        p About us:
                        p We are developing a smart software that helps people investing in cryptocurrencies without the usual risks and without any prior knowledge. Generally speaking, our software does three different things. It analyses, calculates, acts and learns. It does this for thousands of different trade opportunities per minute, million times per day
                        p About you:
                        p Candidate should have excellent verbal, and written, communications skills; have the ability to work independently; and use good time-management practices.
                        p Qualifications:
                        p - Strong experience retrieving information from blockchains, exchanges, and wallets
                        p - Great Java skills; reactive experience is a plus
                        p - Strong Spring 5, and Spring Boot 2, skills
                        p - Familiarity with data pipelines and modeling for analytic scenarios (SQL or NoSQL)
                        p - Strong DBMS skills with MongoDB and replica sets
                        p - Experience developing RESTful APIs and endpoints
                        p - Ability, and willingness, to learn new technologies and methodologies
                        p Education:
                        p Bachelor’s degree or higher in computer science
                        .button-orange.accordion__acd-apply-button Apply for this position

            .career__accordion
                .career__acd-headline-block
                    img(src="./images/career__acd-headline -icon-2.png", alt="")
                    .career__acd-headline
                        .section-small-title.career__acd-type CUSTOMER SUPPORT
                        .career__acd-descr Sr. Technical Support Manager
                    .career__acd-address London, UK
                    .button-blue.career__acd-button Show detail
                .career__acd-dropdown
                    .accordion__acd-wrapper
                        p About us:
                        p We are developing a smart software that helps people investing in cryptocurrencies without the usual risks and without any prior knowledge. Generally speaking, our software does three different things. It analyses, calculates, acts and learns. It does this for thousands of different trade opportunities per minute, million times per day
                        p About you:
                        p Candidate should have excellent verbal, and written, communications skills; have the ability to work independently; and use good time-management practices.
                        p Qualifications:
                        p - Strong experience retrieving information from blockchains, exchanges, and wallets
                        p - Great Java skills; reactive experience is a plus
                        p - Strong Spring 5, and Spring Boot 2, skills
                        p - Familiarity with data pipelines and modeling for analytic scenarios (SQL or NoSQL)
                        p - Strong DBMS skills with MongoDB and replica sets
                        p - Experience developing RESTful APIs and endpoints
                        p - Ability, and willingness, to learn new technologies and methodologies
                        p Education:
                        p Bachelor’s degree or higher in computer science
                        .button-orange.accordion__acd-apply-button Apply for this position

            .career__accordion
                .career__acd-headline-block
                    img(src="./images/career__acd-headline -icon-3.png", alt="")
                    .career__acd-headline
                        .section-small-title.career__acd-type DEVELOPMENT
                        .career__acd-descr What you can earn with Bitbunch
                    .career__acd-address London, UK
                    .button-blue.career__acd-button Show detail
                .career__acd-dropdown
                    .accordion__acd-wrapper
                        p About us:
                        p We are developing a smart software that helps people investing in cryptocurrencies without the usual risks and without any prior knowledge. Generally speaking, our software does three different things. It analyses, calculates, acts and learns. It does this for thousands of different trade opportunities per minute, million times per day
                        p About you:
                        p Candidate should have excellent verbal, and written, communications skills; have the ability to work independently; and use good time-management practices.
                        p Qualifications:
                        p - Strong experience retrieving information from blockchains, exchanges, and wallets
                        p - Great Java skills; reactive experience is a plus
                        p - Strong Spring 5, and Spring Boot 2, skills
                        p - Familiarity with data pipelines and modeling for analytic scenarios (SQL or NoSQL)
                        p - Strong DBMS skills with MongoDB and replica sets
                        p - Experience developing RESTful APIs and endpoints
                        p - Ability, and willingness, to learn new technologies and methodologies
                        p Education:
                        p Bachelor’s degree or higher in computer science
                        .button-orange.accordion__acd-apply-button Apply for this position
            
            .career__accordion
                .career__acd-headline-block
                    img(src="./images/career__acd-headline -icon-4.png", alt="")
                    .career__acd-headline
                        .section-small-title.career__acd-type DEVELOPMENT
                        .career__acd-descr What you can earn with Bitbunch
                    .career__acd-address London, UK
                    .button-blue.career__acd-button Show detail
                .career__acd-dropdown
                    .accordion__acd-wrapper
                        p About us:
                        p We are developing a smart software that helps people investing in cryptocurrencies without the usual risks and without any prior knowledge. Generally speaking, our software does three different things. It analyses, calculates, acts and learns. It does this for thousands of different trade opportunities per minute, million times per day
                        p About you:
                        p Candidate should have excellent verbal, and written, communications skills; have the ability to work independently; and use good time-management practices.
                        p Qualifications:
                        p - Strong experience retrieving information from blockchains, exchanges, and wallets
                        p - Great Java skills; reactive experience is a plus
                        p - Strong Spring 5, and Spring Boot 2, skills
                        p - Familiarity with data pipelines and modeling for analytic scenarios (SQL or NoSQL)
                        p - Strong DBMS skills with MongoDB and replica sets
                        p - Experience developing RESTful APIs and endpoints
                        p - Ability, and willingness, to learn new technologies and methodologies
                        p Education:
                        p Bachelor’s degree or higher in computer science
                        .button-orange.accordion__acd-apply-button Apply for this position            


        .career__bottom-descr Didn't find a right position, but still want to be a part of our journey? Please&nbsp;don’t hesitate to contact us! Send us your CV at hr@bitbunch.com 