section.document
    .document__wrapper

        .document__text-container
            p.grey We recognise our responsibilities in relation to the collection, holding, processing, use and/or transfer of personal data. Your privacy is of utmost importance to us.
            p.grey This policy (the Policy) outlines how we collect, use, store and disclose your personal data. Please take a moment to read about how we collect, use and/or disclose your personal data so that you know and understand the purposes for which we may collect, use and/or disclose your personal data. 
            p.grey By accessing the website at https://BitBunch.com/ (the Website), you agree and consent to BitBunch Ltd. (the Company), its related corporations, business units and affiliates, as well as their respective representatives and/or agents (collectively referred to herein as "BitBunch", "us", "we" or "our"), collecting, using, disclosing and sharing amongst themselves the personal data, and to disclosing such personal data to relevant third party providers. 
            p.grey This Policy supplements but does not supersede nor replace any other consent which you may have previously provided to us nor does it affect any rights that we may have at law in connection with the collection, use and/or disclosure of your personal data. We may from time to time update this Policy to ensure that this Policy is consistent with our future developments, industry trends and/or any changes in legal or regulatory requirements. Subject to your rights at law, the prevailing terms of this Policy shall apply. For the avoidance of doubt, this Policy forms part of the terms and conditions governing your relationship with us and should be read in conjunction with such terms and conditions.

            p.title 1. What Personal Data Is Collected By Bitbunch

            p.text "Personal data" means data, whether true or not, about an individual who can be identified (i) from that data, or (ii) from that data and other information to which the organisation has or is likely to have access. Some examples of personal data that BitBunch may collect are:

            ul
                li.yellow personal particulars (e.g. name, contact details, residential address, date of birth, identity card/passport details, social media handles and other social media profile information, and/or education details);
                li.yellow financial details (e.g. income, expenses, credit history and/or credit card and bank information);
                li.yellow images and voice recordings of our conversations with you, whether from our events or office surveillances or otherwise;

            p.text Personal data may be collected when you interact with our services or use the Website, or may be received by BitBunch from third‐party databases or service providers that provide business information.

            p.title 2. Purposes For Collection, Use And Disclosure of Your Personal Data

            p.text BitBunch may collect, use and/or disclose your personal data for its business purposes, including operations for these purposes. These may include, without limitation, the following: 
                span.bold.block developing and providing facilities, products or services (whether made available by us or through us), including but not limited to:

            ul
                li.yellow sale of digital tokens or virtual currencies;
                li.yellow acting as intermediaries through any blockchain, network or platform developed or managed by us;
                li.yellow recording and/or encryption on any blockchain, network or platform developed o managed by us;
