section.document
    .document__wrapper

        .document__text-container
            p.grey PLEASE READ THE ENTIRETY OF THIS “NOTICE AND DISCLAIMER” SECTION CAREFULLY. NOTHING HEREIN CONSTITUTES LEGAL, FINANCIAL, BUSINESS OR TAX ADVICE AND YOU SHOULD CONSULT YOUR OWN LEGAL, FINANCIAL, TAX OR OTHER PROFESSIONAL ADVISOR(S) BEFORE ENGAGING IN ANY ACTIVITY IN CONNECTION HEREWITH. BitBunch facilitates the trading of various digital assets (also called a "cryptocurrency", "virtual currency", "digital currency", or "digital commodity"), such as bitcoin or ether, which is based on the cryptographic protocol of a computer network that may be (i) centralised or decentralised, (ii) closed or open-source, and (iii) used as a medium of exchange and/or store of value, ("Digital Asset"). You acknowledge and agree that there are numerous risks associated with trading Digital Assets, holding Digital Assets or participation in various virtual currency ecosystems. 

            p.title 1. Risks

            p.text If you decide to use the BitBunch platform, you expressly acknowledge, accept and assume the following risks:

            ul
                li.yellow The risk of loss in trading Digital Assets may be substantial and losses may occur over a short period of time;
                li.yellow The price and liquidity of Digital Assets has been subject to large fluctuations in the past and may be subject to large fluctuations in the future;
                li.yellow Legislative and regulatory changes or actions at the international, federal or state level may adversely affect the use, transfer, exchange, and value of Digital Assets;      
                li.yellow In your jurisdiction, the usage of BitBunch may be prohibited by local laws;

            p.text You agree and understand that you are solely responsible for determining the nature, potential value, suitability, and appropriateness of these risks for yourself, and that BitBunch does not give advice or recommendations regarding Digital Assets, including the suitability and appropriateness of, and investment strategies for, Digital Assets. You agree and understand that you access and use BitBunch at your own risk; and this section is unable to and does not purport to disclose exhaustively all of the risks associated with Digital Assets and using BitBunch. You should, therefore, carefully consider whether such use is suitable for you in light of your circumstances and financial resources. You should be aware that you may sustain a total loss of Digital Assets in your BitBunch Account, and that under certain market conditions, you may find it difficult or impossible to liquidate a position.

            p.title 2. No Advice; Non Solicitation

            p.text You agree and understand that BitBunch does not provide legal, tax, or investment advice, and to the extent you deem necessary, you will consult with qualified professionals in your own jurisdiction prior to using BitBunch or implementing any financial plan. You also agree and understand that you have not and do not expect to receive any investment advice from us nor any of our affiliates in connection with your Trade Settings. In addition, you agree and understand that your perusal of the Website and/or any material thereon does not constitute any solicitation or investment advice.
