section.calculation
    .calculation__wrapper

        .section-headline.calculation__headline How Much Can I Earn With BitBunch?
        .section__subtitle.calculation__subtitle Market conditions will determine how much you make. Use the calculator below to get a sense of your potential profits based on past data in our systems.

        .calculation__flex-container

            .calculation__range-block

                .calculation__title Currency

                .calculation__buttons
                    .button-blue.calculation__button-bitcoin BTC
                    .button-blue.calculation__button-dollar USD
                    .button-blue.calculation__button-euro EUR
                
                .calculation__title Investment amount

                    input(type="range" min="1" max="100" value="27" class="calculation__range calculation__currency")    

                .calculation__title Investment period

                    input(type="range" min="1" max="24" value="12" class="calculation__range calculation__mount")   

                .button-orange Start Investing Today
            
            .calculation__result-block

                .calculation__result-data

                .calculation__result-data

                .calculation__result-data

                .calculation__result-data

