section.calculation
    .calculation__wrapper

        .section-headline.calculation__headline How Much Can I Earn With BitBunch?
        .section__subtitle.calculation__subtitle Market conditions will determine how much you make. Use the calculator below to get a sense of your potential profits based on past data in our systems.

        .calculation__flex-container

            .calculation__range-block

                .calculation__title-block
                    .title Currency

                .calculation__buttons-block
                    .button-blue.calculation__button-cur.bitcoin.active
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24"><g><g transform="rotate(-360 749 7709.5)"><g opacity=".5"><path fill="inherit" d="M5.37 1.48a1 1 0 0 1 1-1h.333a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6.37a1 1 0 0 1-1-1z"/></g><g opacity=".5"><path fill="inherit" d="M5.37 18.28a1 1 0 0 1 1-1h.333a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6.37a1 1 0 0 1-1-1z"/></g><g><path fill="inherit" d="M9.353 15.597a1.68 1.68 0 0 1-.632.583 2.832 2.832 0 0 1-.864.286c-.318.053-.624.08-.92.08H4.809v-3.704h2.106c.813 0 1.463.13 1.95.39.488.258.732.723.732 1.394 0 .396-.081.72-.244.971zM8.5 9.525c-.392.296-.942.445-1.652.445H4.81V6.64h1.862c.798 0 1.4.126 1.807.377.406.25.61.65.61 1.197 0 .578-.197 1.015-.588 1.311zm4.633 4.024a3.694 3.694 0 0 0-.688-1.117 3.631 3.631 0 0 0-1.02-.787 6.196 6.196 0 0 0-1.252-.467c.769-.258 1.39-.68 1.862-1.265.473-.586.71-1.327.71-2.223 0-.821-.163-1.498-.488-2.03a3.709 3.709 0 0 0-1.264-1.265 5.41 5.41 0 0 0-1.729-.661 9.333 9.333 0 0 0-1.862-.194H.7v16.142h6.702c.754 0 1.49-.08 2.206-.239a5.8 5.8 0 0 0 1.917-.787 4.113 4.113 0 0 0 1.353-1.447c.34-.6.51-1.342.51-2.223 0-.532-.085-1.011-.255-1.437z"/></g></g></g></svg>
                        span BTC
                    .button-blue.calculation__button-cur.dollar
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"><g><g transform="rotate(-360 749 7709.5)"><g opacity=".5"><path fill="inherit" d="M4.96 1.48a1 1 0 0 1 1-1h.308a1 1 0 0 1 1 1v2.8a1 1 0 0 1-1 1H5.96a1 1 0 0 1-1-1z"/></g><g opacity=".5"><path fill="inherit" d="M4.96 18.28a1 1 0 0 1 1-1h.308a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H5.96a1 1 0 0 1-1-1z"/></g><g><path fill="inherit" d="M9.57 7.736A3.406 3.406 0 0 0 8.31 6.72c-.519-.25-1.02-.376-1.502-.376-.248 0-.5.023-.756.068a1.906 1.906 0 0 0-.69.262c-.205.13-.377.297-.516.502-.139.205-.208.467-.208.787 0 .273.055.501.164.684.11.182.27.342.483.478.212.137.464.263.756.377.292.114.621.231.987.353.526.182 1.074.384 1.644.604a6.08 6.08 0 0 1 1.556.878c.468.365.855.817 1.162 1.357.307.54.46 1.212.46 2.017 0 .928-.164 1.73-.493 2.406a4.76 4.76 0 0 1-1.326 1.676 5.6 5.6 0 0 1-1.907.98 7.733 7.733 0 0 1-2.214.32 8.83 8.83 0 0 1-3.223-.605c-1.038-.403-1.9-.977-2.587-1.721l2.455-2.6c.38.487.881.893 1.502 1.22.621.327 1.239.49 1.853.49.277 0 .548-.03.81-.09.264-.062.494-.16.691-.297.198-.137.355-.32.472-.547a1.78 1.78 0 0 0 .175-.821c0-.304-.073-.563-.22-.775a2.174 2.174 0 0 0-.624-.582 4.944 4.944 0 0 0-1.008-.479c-.402-.144-.86-.3-1.37-.467a12.797 12.797 0 0 1-1.459-.593 4.87 4.87 0 0 1-1.271-.878 4.064 4.064 0 0 1-.899-1.3c-.226-.508-.34-1.128-.34-1.857 0-.897.176-1.665.526-2.303a4.694 4.694 0 0 1 1.382-1.573c.57-.41 1.213-.711 1.929-.901a8.43 8.43 0 0 1 2.17-.285c.877 0 1.772.167 2.686.502a6.865 6.865 0 0 1 2.4 1.482z"/></g></g></g></svg>
                        span ETH
                    .button-blue.calculation__button-cur.euro
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20"><g><g transform="rotate(-360 749 7709.5)"><g opacity=".5"><path fill="inherit" d="M1.56 11.669a.595.595 0 0 0-.533.328l-.592 1.184a.595.595 0 0 0 .532.862H11.52a.595.595 0 0 0 .532-.329l.593-1.184a.595.595 0 0 0-.532-.861zm11.137-2.395a.595.595 0 0 0 .533-.329l.592-1.184a.595.595 0 0 0-.532-.861H1.559a.595.595 0 0 0-.533.329L.434 8.413a.595.595 0 0 0 .533.861z"/></g><g><path fill="inherit" d="M15.87 5.26a4.025 4.025 0 0 0-1.82-1.387c-.748-.292-1.48-.438-2.194-.438-.914 0-1.746.167-2.494.5A5.845 5.845 0 0 0 7.43 5.31a6.113 6.113 0 0 0-1.247 2.05 7.268 7.268 0 0 0-.437 2.55c0 .967.142 1.85.424 2.65a5.98 5.98 0 0 0 1.21 2.063 5.434 5.434 0 0 0 1.882 1.337c.732.317 1.555.475 2.47.475.947 0 1.786-.187 2.518-.562a4.926 4.926 0 0 0 1.77-1.488l2.52 1.775a8.073 8.073 0 0 1-2.869 2.288c-1.13.541-2.452.812-3.965.812-1.38 0-2.647-.23-3.803-.688a8.759 8.759 0 0 1-2.98-1.924 8.765 8.765 0 0 1-1.945-2.95c-.465-1.142-.698-2.405-.698-3.788 0-1.417.245-2.696.736-3.837a8.546 8.546 0 0 1 2.02-2.913 8.964 8.964 0 0 1 3.03-1.85c1.163-.433 2.427-.65 3.79-.65.565 0 1.155.054 1.77.163a8.99 8.99 0 0 1 1.771.5 8.562 8.562 0 0 1 1.596.837c.499.333.923.733 1.272 1.2z"/></g></g></g></svg>
                        span USDT
                
                .calculation__currency-block.calculation__currency-btc-block.active
                    .calculation__title-block 
                        .title Investment amount
                        .value
                            span.num.calculation__currency-value.calculation__btc-value 1
                            span.units &nbsp;BTC
                    input(type="range" min="0" max="200" value="54" step="0.25" id="calcCurCurrency" class="calculation__range calculation__btc-range")
                    .calculation__value-block
                        .calculation__value-from 0 
                            span BTC
                        .calculation__value-to 200 
                            span BTC
                
                .calculation__currency-block.calculation__currency-etc-block
                    .calculation__title-block 
                        .title Investment amount
                        .value
                            span.num.calculation__currency-value.calculation__etc-value 2700
                            span.units &nbsp;ETH
                    input(type="range" min="0" max="8000" value="2700" step="1" id="calcCurCurrency" class="calculation__range calculation__etc-range")
                    .calculation__value-block
                        .calculation__value-from 0 
                            span ETH
                        .calculation__value-to 8000 
                            span ETH
                
                .calculation__currency-block.calculation__currency-usdt-block
                    .calculation__title-block 
                        .title Investment amount
                        .value
                            span.num.calculation__currency-value.calculation__usdt-value 1
                            span.units &nbsp;USDT
                    input(type="range" min="0" max="1500000" value="570000" id="calcCurCurrency" class="calculation__range calculation__usdt-range")
                    .calculation__value-block
                        .calculation__value-from 0 
                            span USDT
                        .calculation__value-to 1500000 
                            span USDT

                .calculation__mount-block
                    .calculation__title-block 
                        .title Investment period
                        .value
                            span.num.calculation__mount-value 1
                            span.units &nbsp;Months
                    input(type="range" min="1" max="24" value="12" id="calcCurMount" class="calculation__range calculation__mount-range")
                    .calculation__value-block
                        .from 1 
                            span Month
                        .to 24 
                            span Months

                a(href="register.html").button-orange.calculation__start-button.button-hover-white Start Investing Today
            
            .calculation__result-block

                .calculation__result-data.active
                    .title Your Profit
                    .value
                        span.num 12
                        span.units.calculation__result-your-profile-units &nbsp;BTC

                .calculation__result-data
                    .title Your Commission
                    .value
                        span.num 2.50
                        span.units &nbsp;%

                .calculation__result-data
                    .title Investment amount
                    .value
                        span.num.calculation__result-sum 27 
                        span.units.calculation__result-units &nbsp;BTC

                .calculation__result-data
                    .title Investment period
                    .value 
                        span.num.calculation__result-mount 12
                        span.units &nbsp;Months
