section.account-section.trading-history
    .account-section-headline.trading-history__headline Trading history
    .trading-history__content To get a more detailed report on your past trades, visit the reports
    .trading-history__table-overflow
        .horiz__clipper._scrollbar
            .horiz__scroller
                table.trading-history__table
                    tr.trading-history__table-row
                        th.table-head.table-col_currencies Currencies
                        th.table-head.table-col_exchanges Exchanges
                        th.table-head.table-col_amount Traded amount
                        th.table-head.table-col_time Buy/Sell time
                        th.table-head.table-col_price Buy/Sell price
                        th.table-head.table-col_profit Profit/Loss
                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span BTC/ETH
                        td.table-data.table-col_exchanges
                            span Binance
                            span Huobi
                        td.table-data.table-col_amount
                            span 0.481938 BTC
                        td.table-data.table-col_time
                            span 26.01.2019 (7:56)
                            span 26.01.2019 (9:41)
                        td.table-data.table-col_price
                            span 0.032947 BTC
                            span 0.033018 BTC
                        td.table-data.table-col_profit
                            span.color_success <b>+ 0.092892 BTC</b> (0.029 %)

                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span BTC/ETH
                        td.table-data.table-col_exchanges
                            span Binance
                            span Huobi
                        td.table-data.table-col_amount
                            span 0.395029 BTC
                        td.table-data.table-col_time
                            span 26.01.2019 (3:11)
                            span 26.01.2019 (3:35)
                        td.table-data.table-col_price
                            span 0.109383 BTC
                            span 0.112026 BTC
                        td.table-data.table-col_profit
                            span.color_success <b>+ 0.020492 BTC</b> (0.104 %)
                    
                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span BTC/ADA
                        td.table-data.table-col_exchanges
                            span Huobi
                            span Bittfinex
                        td.table-data.table-col_amount
                            span 0.294840 BTC
                        td.table-data.table-col_time
                            span 25.01.2019 (22:12)
                            span 25.01.2019 (20:49)
                        td.table-data.table-col_price
                            span 0.002032 BTC
                            span 0.002141 BTC
                        td.table-data.table-col_profit
                            span.color_danger <b>- 0.015892 BTC</b> (0.042 %)

                    tr.trading-history__table-row
                        td.table-data.table-col_currencies
                            span BTC/TRX
                        td.table-data.table-col_exchanges
                            span Kraken
                            span Binance
                        td.table-data.table-col_amount
                            span 0.492049 BTC
                        td.table-data.table-col_time
                            span 25.01.2019 (16:44)
                            span 25.01.2019 (18:16)
                        td.table-data.table-col_price
                            span 0.089382 BTC
                            span 0.089485 BTC
                        td.table-data.table-col_profit
                            span.color_success <b>+ 0.032492 BTC</b> (1.049 %)
            .horiz__track
                .horiz__bar