.button-orange {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 15.625rem;
  height: 3.75rem;
  border: 0;
  border-radius: .1875rem;
  background-color: $orange;
  font-family: $main-font-bold;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: darken($orange, 7%);
    color: $white;
  }
}

.button-blue {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 10.375rem;
  height: 2.5rem;
  border-radius: .125rem;
  box-shadow: 0 .125rem .25rem rgba(93, 88, 88, .1);
  background-color: $blue;
  font-family: $main-font-bold;
  font-size: .875rem;
  line-height: 1rem;
  color: $white;
  cursor: pointer;
  transition: background-color 300ms;

  &:hover {
    background-color: darken($blue, 7%);
    color: $white;
  }
}

.learn-more-button {
  margin-left: 2.5rem;
  font-family: $main-font-bold;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-transform: uppercase;
  color: $blue;
}

.video-play-button {
  position: relative;
  width: 4.5rem;
  height: 4.75rem;
  background-image: url("./images/main-header__video-play-button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.button-hover-white {
  border: 2px solid $orange;
  transition: 300ms;
  transform-origin: center center;

  &:hover {
    background-color: $white;
    color: $orange;
    transform: scaleX(1.05);
  }
}

.button-hover-blue {
  border: 2px solid $orange;
  transition: 300ms;
  transform-origin: center center;

  &:hover {
    border: 2px solid #99a1ce;
    background-color: #fff3ef;
    color: $orange;
    transform: scaleX(1.05);
  }
}

@media screen and ($tablet1), ($tablet2), ($tablet3) {
}

@media screen and ($mobile1), ($mobile2), ($mobile3) {

  .button-orange {
    width: 8.5625rem;
    height: 2.25rem;
    border-radius: .125rem;
    font-size: .75rem;
  }

  .button-blue {
    width: 7.5rem;
    height: 1.875rem;
    font-size: .6875rem;
  }

  .learn-more-button {
    margin-left: 1.25rem;
    font-size: .75rem;
    line-height: 1.125rem;
  }

  .video-play-button {
    width: 2rem;
    height: 2.25rem;
  }
}
