section.bit-stats
    .bit-stats__wrapper

        .bit-stats__subtitle The numbers speak for themselves
        .section-headline.bit-stats__headline Bitbunch in Stats

        .bit-stats__flex-container

            .bit-stats__flex-block.bit-stats__flex-block-left.bit-stats__animation-order-1
                img(src="./images/bit-stats__image-1.png", alt="")
                .num $2,856,780
                .descr Invested funds
            
            .bit-stats__flex-block.bit-stats__animation-order-2
                img(src="./images/bit-stats__image-2.png", alt="")
                .num 786 521
                .descr profitable trades

            .bit-stats__flex-block.bit-stats__flex-block-right.bit-stats__animation-order-3
                img(src="./images/bit-stats__image-3.png", alt="")
                .num 10.34%
                .descr avg. Profit per Month