@media screen and ($tablet1), ($tablet2), ($tablet3) {
  .security-authentication{
    padding-bottom: 0.6875rem;
  }
  .security-authentication__headline{
    margin-top: 0;
    margin-bottom: 0.9375rem;
  }
  .security-authentication__content{
    max-width: 27.5rem;
    margin-bottom: 1.5625rem;
    font-size: 0.875rem;
    letter-spacing: 0;
  }
}