extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/help-center-header/help-center-header
    include ../../blocks/faq/faq
    

    
    