extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'password-changed-page'

block content
    include ../../blocks/login-header/restore-header
    include ../../blocks/password-changed/password-changed.pug