include ../common/pug/mixins

block variables

doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content=meta1)
        meta(name="description" content=meta2)
        link(rel="icon" type="image/x-icon" href="./images/favicon.ico")
        style(type="text/css").
            .preloader {
              position: fixed; 
              z-index: 1000; 
              top: 0; 
              left: 0; 
              right: 0;
              bottom: 0;
              width: 100vw;
              height: 100vh;
              background: linear-gradient(to right, #324ea3, #3d6dd0); 
              transition: opacity 300ms; 
              opacity: 1; 
              display: flex; 
              justify-content: center; 
              align-items: center;
            }
            
            .spinner {
                margin: 6.25rem auto;
                width: 5rem;
                height: 5rem;
                background-color: #ffffff;
                -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
                animation: sk-rotateplane 1.2s infinite ease-in-out;
            }

            @-webkit-keyframes sk-rotateplane {

                0% {
                    -webkit-transform: perspective(7.5rem);
                }

                50% {
                    -webkit-transform: perspective(7.5rem) rotateY(180deg);
                }

                100% {
                    -webkit-transform: perspective(7.5rem) rotateY(180deg) rotateX(180deg);
                }
            }

            @keyframes sk-rotateplane {

                0% {
                    -webkit-transform: perspective(7.5rem) rotateX(0deg) rotateY(0deg);
                    transform: perspective(7.5rem) rotateX(0deg) rotateY(0deg);
                }

                50% {
                    -webkit-transform: perspective(7.5rem) rotateX(-180.1deg) rotateY(0deg);
                    transform: perspective(7.5rem) rotateX(-180.1deg) rotateY(0deg);
                }

                100% {
                    -webkit-transform: perspective(7.5rem) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(7.5rem) rotateX(-180deg) rotateY(-179.9deg);
                }
            }

    body(class=pageClass)
      include ../components/preloader/preloader
      block notification
      
      .account-page
        include ../components/account-nav/account-nav
        //- .account-content.account-content_center
        .account-content
          block content

      block modal

      //- include ../blocks/modal-areas/modal-areas
      block scripts
        script(src="js/jquery-3.3.1.min.js")
        script(src="js/slick.min.js")

        script(src="js/popper.min.js")
        script(src="js/bootstrap.min.js")
        //- script(src="js/bootstrap-datepicker.min.js")
        //- script(src="js/bootstrap-select.min.js")
        //- script(src="js/slick.min.js")
        //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvXcFFGgHZOouXbIN4I7LPHW5MAW-oRzY")
        //- script(src="js/jquery.mousewheel.min.js")
        //- script(src="js/datatables.min.js")
        script(src="js/jquery.validate.min.js")
        script(src="js/jquery.inputmask.min.js")
        script(src="js/tooltipster.bundle.min.js")

        script(src="js/TweenMax.min.js")
        script(src="js/ScrollMagic.min.js")
        script(src="js/animation.gsap.min.js")

        script(src="js/baron.min.js")
        script(src="js/ion.rangeSlider.min.js")
        script(src="js/Chart.min.js")
        script(src="js/main.js")