extends ../../templates/account

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block header-button

block content
    .account-header
      .account-header__left
          .account-app-headline Bitbunch app
          .account-main-headline Settings

    include ../../blocks/trading-currencies/trading-currencies

    include ../../blocks/daily-trades/daily-trades