section.article
    .article__wrapper

        .article__top-image
            img(src="./images/article__top-image.png", alt="")
        
        .article__p-block
            p 
                span.head-letter H
                | e indicated in his presentation slide that the leverage could be up to 20 times and will be for trading on bitcoin initially. While a firm releasing date of the feature is not yet set, a Binance spokesperson told CoinDesk it plans to launch the test in about two weeks from now. The futures trading feature comes after the firm rolled out margin trading on the platform last month. “Margin trading will roll out to all users first (around July 11 or so), then futures testnet will come about a week after that,” the spokesperson added.

        .article__actual-block
            span “This is an actual screenshot of the working system. So&nbsp;Binance futures is coming.”

        .article__p-block
            p “This is just the beginning of a long journey ahead, and I look forward to working with Binance as a partner to unlock more potential for the blockchain ecosystem here in the U.S.,” Coley added in statement.
            p The news comes weeks after Binance announced it will open a site for U.S.-based traders via Binance U.S. operated by its partner BAM. Following that deal, Binance.com, the exchange’s global trading platform, moved to block access for users based in all territories of the U.S.
            p Little is known about BAM so far. CoinDesk reported before that the firm registered as a money services business with the U.S. Treasury’s Financial Crimes Enforcement Network (FinCEN), with the legal name “BAM Trading Services Inc.” at a San Francisco address.

        .article__flex-block
            .article__p-img
                img(src="./images/article__img-1.png", alt="")
            .article__p-text
                .title Margin trading will roll out
                p “This is just the beginning of a long journey ahead, and I look forward to working with Binance as a partner to unlock more potential for the blockchain ecosystem here in the U.S.,” Coley added in statement.

        .article__p-block
            .title So Binance futures is coming
            p “This is just the beginning of a long journey ahead, and I look forward to working with Binance as a partner to unlock more potential for the blockchain ecosystem here in the U.S.,” Coley added in statement.
            p The news comes weeks after Binance announced it will open a site for U.S.-based traders via <b>Binance</b> U.S. operated by its partner <b>BAM</b>. Following that deal, <b>Binance.com</b>, the exchange’s global trading platform, moved to block access for users based in all territories of the U.S.

        .article__flex-block
            .article__p-img
                img(src="./images/article__img-2.png", alt="")
            .article__p-text
                .title Hedge against its volatility
                p “All of this non-compliant stuff… I don’t want to get involved with a drug dealer trading bitcoins somewhere. I want nothing to do with that.”

        .article__p-block
            .title The crypto industry has been regulated in the U.S. since 2013.
            p O’Leary concluded that, since one cannot pay taxes with cryptocurrencies, they are currently a “rogue currency.” 
            p The TV host has previously expressed his pessimism toward crypto assets. In May, he said that he believes bitcoin <b>(BTC)</b> is a useless currency, since people accepting it want to hedge against its volatility.


        ul.article__list
            li The Bitcoin Electricity Consumption Index
            li The Argento-LBX bond
            li London Block Exchange (LBX) 
            li Financial Conduct Authority (FCA)
        
        .article__p-block
            p Concerns about regulatory clarity and compliance are also shared by the cryptocurrency community. In the United States, regulators are working to better define digital assets so as to promote the industry’s development. In April, Representatives in the House of Representatives reintroduced the Token Taxonomy Act, which aims to provide clearer guidelines for blockchain and crypto businesses.


    .article-more__wrapper

        .section-headline.article__headline More Articles

        .news-releases__flex-container

            .news-releases__card.news-releases__anim-order-1
                .news-releases__card-text
                    span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                    a(href="#").link-hover-move Read more
                .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-1.png')")
                    .date 05.10.2018
                    .name Why automation is better?
                .bage.bage-yellow About us
            
            .news-releases__card.news-releases__anim-order-2
                .news-releases__card-text
                    span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                    a(href="#").link-hover-move Read more
                .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-2.png')")
                    .date 05.10.2018
                    .name Why automation is better?
                .bage.bage-yellow About us
            
            .news-releases__card.news-releases__anim-order-3
                .news-releases__card-text
                    span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                    a(href="#").link-hover-move Read more
                .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-3.png')")
                    .date 05.10.2018
                    .name Why automation is better?
                .bage.bage-yellow About us
