section.big-team
    .big-team__wrapper

        .our-team__success
            .our-team__success-container
                .our-team__success-content
                    h3
                        | United Values Aim for Success
                    p
                        | At Bitbunch all of us drives the ambitoun to make our product better
                        | day per day. Passion, Focus, Expertise and the daily willingness to
                        | reflect the product and yourself drives us to better results.
                .our-team__success-media
                    .our-team__success-anim-order-1
                    .our-team__success-anim-order-2
                    .our-team__success-anim-order-3
                    .our-team__success-anim-order-4
                    .our-team__success-anim-order-5
                    img(src='./images/our-team__success-media-main.png' alt='image')

        .our-team__founders
            .our-team__founders-container
                .our-team__founders-content
                    h3
                        | Meet Our Founders
                    p
                        | Communicating skills only doesn&rsquo;t draw the right picture of the great
                        | indiviual personalities behind this startup. At Bitbunch we everyone
                        | to
                .our-team__founders-media
                    .our-team__founders-media-poster
                        .video-play-button.our-team__founders-media-play-button

        .our-team__description
            .our-team__description-container
                .our-team__description-block
                    .our-team__description-block--content
                        span
                            | Senior Database Developer
                        h3
                            | Paul Lucason CEO
                        p
                            | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                            | working in quantitative research and programming. In 2017, I decided
                            | to quit my job at XYZ and to start BitBunch.
                        p
                            | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                img(src='./images/team/icon-twitter.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-linkedIn.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-facebook.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-instagram.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-shape.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-1.png' alt='icon')

                .our-team__description-block
                    .our-team__description-block--content
                        span
                            | Senior Database Developer
                        h3
                            | Paul Lucason CEO
                        p
                            | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                            | working in quantitative research and programming. In 2017, I decided
                            | to quit my job at XYZ and to start BitBunch.
                        p
                            | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                img(src='./images/team/icon-twitter.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-linkedIn.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-facebook.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-instagram.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-shape.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-2.png' alt='icon')

                .our-team__description-block
                    .our-team__description-block--content
                        span
                            | Senior Database Developer
                        h3
                            | Paul Lucason CEO
                        p
                            | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                            | working in quantitative research and programming. In 2017, I decided
                            | to quit my job at XYZ and to start BitBunch.
                        p
                            | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                img(src='./images/team/icon-twitter.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-linkedIn.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-facebook.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-instagram.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-shape.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-3.png' alt='icon')



        .our-team__description
            .our-team__description-container
                .our-team__description-block
                    .our-team__description-block--content
                        span
                            | Senior Database Developer
                        h3
                            | Paul Lucason CEO
                        p
                            | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                            | working in quantitative research and programming. In 2017, I decided
                            | to quit my job at XYZ and to start BitBunch.
                        p
                            | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                img(src='./images/team/icon-twitter.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-linkedIn.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-facebook.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-instagram.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-shape.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-1.png' alt='icon')

                .our-team__description-block
                    .our-team__description-block--content
                        span
                            | Senior Database Developer
                        h3
                            | Paul Lucason CEO
                        p
                            | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                            | working in quantitative research and programming. In 2017, I decided
                            | to quit my job at XYZ and to start BitBunch.
                        p
                            | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                img(src='./images/team/icon-twitter.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-linkedIn.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-facebook.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-instagram.png' alt='icon')
                            li
                                a(href='#')
                                img(src='./images/team/icon-shape.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-2.png' alt='icon')
              
              

        .section-headline.big-team__headline.big-team__founders-headline Meet the Hearts And Brains of BitBunch
        .section__subtitle.big-team__subtitle.big-team__founders-subtitle We’re all putting in our hearts and brains everyday, to improve your BitBunch experience!

        .big-team__founders-container

            .our-team__member-card.big-team__animation-order-1
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-1.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-2
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-2.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-3
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-3.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-4
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-4.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
            
            .our-team__member-card.big-team__animation-order-5
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-5.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-6
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-6.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-7
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-7.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.big-team__animation-order-8
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-8.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")


        .section-headline.big-team__headline.big-team__investors-headline Investors
        .section__subtitle.big-team__subtitle.big-team__investors-subtitle These are the investors that believe in BitBunch.

        .big-team__investors-container

            .our-team__member-card.green
                .our-team__member-info
                    .name Victor Merrill
                    .position Private Investor
                img(src="./images/big-team__investors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Lucian Marston
                    .position Angel Investor
                img(src="./images/big-team__investors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Erlich Bachman
                    .position Private Investor
                img(src="./images/big-team__investors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Kurt Brewster
                    .position VC Chainium
                img(src="./images/big-team__investors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Victor Merrill
                    .position Private Investor
                img(src="./images/big-team__investors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Lucian Marston
                    .position Angel Investor
                img(src="./images/big-team__investors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Erlich Bachman
                    .position Private Investor
                img(src="./images/big-team__investors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Kurt Brewster
                    .position VC Chainium
                img(src="./images/big-team__investors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")


        .section-headline.big-team__headline.big-team__advisors-headline Advisors
        .section__subtitle.big-team__subtitle.big-team__advisors-subtitle Industry experts are advising BitBunch. 

        .big-team__advisors-container

            .our-team__member-card.orange
                .our-team__member-info
                    .name Richard Hendricks
                    .position Pied Piper
                img(src="./images/big-team__advisors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Gavin Cheshire
                    .position Uber
                img(src="./images/big-team__advisors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Matt Quincey
                    .position Litecoin
                img(src="./images/big-team__advisors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Darryl Crisp
                    .position Bitboost
                img(src="./images/big-team__advisors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Richard Hendricks
                    .position Pied Piper
                img(src="./images/big-team__advisors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Gavin Cheshire
                    .position Uber
                img(src="./images/big-team__advisors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Matt Quincey
                    .position Litecoin
                img(src="./images/big-team__advisors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Darryl Crisp
                    .position Bitboost
                img(src="./images/big-team__advisors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
