section.big-team
    .big-team__wrapper

        .our-team__success#anim-success-trigger
            .our-team__success-container
                .our-team__success-content#anim-success-1
                    h3
                        | United Values Aim for Success
                    p
                        | At Bitbunch all of us drives the ambitoun to make our product better
                        | day per day. Passion, Focus, Expertise and the daily willingness to
                        | reflect the product and yourself drives us to better results.
                .our-team__success-media#anim-success-5
                    .our-team__success-anim-2#anim-success-2
                    .our-team__success-anim-3#anim-success-3
                    .our-team__success-anim-4#anim-success-4
                    img(src='./images/our-team__success-media-main.png' alt='image')

        .our-team__founders#anim-founders-trigger
            .our-team__founders-container
                .our-team__founders-content#anim-founders-1
                    h3
                        | Meet Our Founders
                    p
                        | Communicating skills only doesn&rsquo;t draw the right picture of the great
                        | indiviual personalities behind this startup. At Bitbunch we everyone
                        | to
                .our-team__founders-media#anim-founders-2
                    .our-team__founders-media-poster
                        .video-play-button.our-team__founders-media-play-button

        .our-team__description
            .our-team__description-container
                .our-team__description-block#anim-description-trigger-1
                    .our-team__description-block--content
                        div#anim-description-trigger-content-1
                            span
                                | Senior Database Developer
                            h3
                                | Paul Lucason CEO
                            p
                                | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                                | working in quantitative research and programming. In 2017, I decided
                                | to quit my job at XYZ and to start BitBunch.
                            p
                                | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-tw-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-in-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-fb-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-insta-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-shape-darken.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-1.png' alt='image')

                .our-team__description-block#anim-description-trigger-2
                    .our-team__description-block--content
                        div#anim-description-trigger-content-2
                            span
                                | Senior Database Developer
                            h3
                                | Paul Lucason CEO
                            p
                                | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                                | working in quantitative research and programming. In 2017, I decided
                                | to quit my job at XYZ and to start BitBunch.
                            p
                                | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-tw-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-in-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-fb-darken.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-2.png' alt='image')

                .our-team__description-block#anim-description-trigger-3
                    .our-team__description-block--content
                        div#anim-description-trigger-content-3
                            span
                                | Senior Database Developer
                            h3
                                | Paul Lucason CEO
                            p
                                | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                                | working in quantitative research and programming. In 2017, I decided
                                | to quit my job at XYZ and to start BitBunch.
                            p
                                | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-tw-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-in-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-fb-darken.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-3.png' alt='image')

        .our-team__core-developers#anim-core-developers-trigger
            h3 Meet Our Core Developers
            p Ivan, Vedran and Marcus lead the development teams.

            .our-team__core-developers-media#anim-core-developers-0
                .our-team__core-developers-media-poster
                    .video-play-button.our-team__core-developers-media-play-button

            .our-team__core-developers-container
                div
                    .our-team__member-card#anim-core-developers-1
                        .our-team__member-info
                            .name James Grade
                            .position CEO
                        img(src="./images/our-team__member-foto-1.png", alt="Image").our-team__member-foto
                        .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                        .our-team__member-socials
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-in-light.png", alt="Image")
                div
                    .our-team__member-card#anim-core-developers-2
                        .our-team__member-info
                            .name James Grade
                            .position CEO
                        img(src="./images/our-team__member-foto-2.png", alt="Image").our-team__member-foto
                        .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                        .our-team__member-socials
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-tw-light.png", alt="Image")
                div    
                    .our-team__member-card#anim-core-developers-3
                        .our-team__member-info
                            .name James Grade
                            .position CEO
                        img(src="./images/our-team__member-foto-3.png", alt="Image").our-team__member-foto
                        .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                        .our-team__member-socials
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-tw-light.png", alt="Image")
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-in-light.png", alt="Image")
                div
                    .our-team__member-card#anim-core-developers-4
                        .our-team__member-info
                            .name James Grade
                            .position CEO
                        img(src="./images/our-team__member-foto-4.png", alt="Image").our-team__member-foto
                        .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                        .our-team__member-socials
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-tw-light.png", alt="Image")
                            a(href="#").our-team__social-link
                                img(src="./images/our-team__social-icon-in-light.png", alt="Image")

            a(href="#").button-orange.our-team__core-developers-button.button-hover-blue#anim-core-developers-5 Register Now

        .our-team__description
            .our-team__description-container
                .our-team__description-block#anim-description-trigger-4
                    .our-team__description-block--content
                        div#anim-description-trigger-content-4
                            span
                                | Senior Database Developer
                            h3
                                | Paul Lucason CEO
                            p
                                | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                                | working in quantitative research and programming. In 2017, I decided
                                | to quit my job at XYZ and to start BitBunch.
                            p
                                | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-tw-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-in-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-fb-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-insta-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-shape-darken.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-1.png' alt='image')

                .our-team__description-block#anim-description-trigger-5
                    .our-team__description-block--content
                        div#anim-description-trigger-content-5
                            span
                                | Senior Database Developer
                            h3
                                | Paul Lucason CEO
                            p
                                | Hey, I&rsquo;m Paul and I&rsquo;m the CEO and founder of BitBunch. I started
                                | working in quantitative research and programming. In 2017, I decided
                                | to quit my job at XYZ and to start BitBunch.
                            p
                                | Maybe you know me from: NewsBTC, Cointelegraph, Forbes, NYT
                        ul
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-tw-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-in-darken.png' alt='icon')
                            li
                                a(href='#')
                                    img(src='./images/our-team__social-icon-fb-darken.png' alt='icon')
                    .our-team__description-block--media
                        img(src='./images/our-team__description-img-2.png' alt='image')
              
        .our-team__support#anim-support-trigger
            .our-team__support-container
                .our-team__support-content#anim-support-1
                    h3
                        | Support is Everything For Us
                    p
                        | Everything we do has a strict customer first approach. Our main goal
                        | is always to server our customers the best. Meet Nancy, from our
                        | support team and why it&rsquo;s important for her.
                .our-team__support-media#anim-support-2
                    .our-team__support-media-poster
                        .video-play-button.our-team__support-media-play-button

        #anim-founders-container--headline-trigger
        .section-headline.big-team__headline.big-team__founders-headline#anim-founders-container-title We’re Here For You 24/7
        .section__subtitle.big-team__subtitle.big-team__founders-subtitle#anim-founders-container-subtitle You’ve got any questions? No problem, we’re here for you 24/7.

        .big-team__founders-container
            div
                .our-team__member-card#anim-founders-container-1
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-1.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-2
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-2.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-3
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-3.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-4
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-4.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-5
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-5.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-6
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-6.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-7
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-7.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")
            div    
                .our-team__member-card#anim-founders-container-8
                    .our-team__member-info
                        .name James Grade
                        .position CEO
                    img(src="./images/our-team__member-foto-8.png", alt="Image").our-team__member-foto
                    .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                    .our-team__member-socials
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-tw.png", alt="Image")
                        a(href="#").our-team__social-link
                            img(src="./images/our-team__social-icon-in.png", alt="Image")