section.big-team
    .big-team__wrapper

        .section-headline.big-team__headline Founders
        .section__subtitle.big-team__subtitle Get to know the team behind BitBunch.

        .big-team__founders-container

            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-1.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-2.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-3.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-4.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-5.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-6.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-7.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card
                .our-team__member-info
                    .name James Grade
                    .position CEO
                img(src="./images/our-team__member-foto-8.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")


        .section-headline.big-team__headline Investors
        .section__subtitle.big-team__subtitle These are the investors that believe in BitBunch.

        .big-team__investors-container

            .our-team__member-card.green
                .our-team__member-info
                    .name Victor Merrill
                    .position Private Investor
                img(src="./images/big-team__investors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Lucian Marston
                    .position Angel Investor
                img(src="./images/big-team__investors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Erlich Bachman
                    .position Private Investor
                img(src="./images/big-team__investors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Kurt Brewster
                    .position VC Chainium
                img(src="./images/big-team__investors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Victor Merrill
                    .position Private Investor
                img(src="./images/big-team__investors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Lucian Marston
                    .position Angel Investor
                img(src="./images/big-team__investors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Erlich Bachman
                    .position Private Investor
                img(src="./images/big-team__investors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.green
                .our-team__member-info
                    .name Kurt Brewster
                    .position VC Chainium
                img(src="./images/big-team__investors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")


        .section-headline.big-team__headline Advisors
        .section__subtitle.big-team__subtitle Industry experts are advising BitBunch. 

        .big-team__advisors-container

            .our-team__member-card.orange
                .our-team__member-info
                    .name Richard Hendricks
                    .position Pied Piper
                img(src="./images/big-team__advisors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Gavin Cheshire
                    .position Uber
                img(src="./images/big-team__advisors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Matt Quincey
                    .position Litecoin
                img(src="./images/big-team__advisors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Darryl Crisp
                    .position Bitboost
                img(src="./images/big-team__advisors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Richard Hendricks
                    .position Pied Piper
                img(src="./images/big-team__advisors-1-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Gavin Cheshire
                    .position Uber
                img(src="./images/big-team__advisors-2-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Matt Quincey
                    .position Litecoin
                img(src="./images/big-team__advisors-3-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
            
            .our-team__member-card.orange
                .our-team__member-info
                    .name Darryl Crisp
                    .position Bitboost
                img(src="./images/big-team__advisors-4-foto.png", alt="").our-team__member-foto
                .our-team__member-descr I believe that there is an immense potential in the whole current cryptocurrency market
                .our-team__member-socials
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-fb.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-tw.png", alt="")
                    a(href="#").our-team__social-link
                        img(src="./images/our-team__social-icon-in.png", alt="")
