.big-team {
  background-color: #fff;
  // background-color: #f8f9fe;
    overflow-x: hidden;
}

.big-team__wrapper {
  padding-top: .3125rem;
  padding-bottom: 10rem;
}

.big-team__headline {
  margin-top: 9.6875rem;
  margin-right: auto;
  margin-left: auto;
  width: 71.3125rem;
}

.big-team__subtitle {
  margin-top: .25rem;
  margin-right: auto;
  margin-left: auto;
  width: 71.3125rem;
}

.big-team__founders-container {
  flex-wrap: wrap;
  display: flex;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 71.3125rem;
}

.big-team__founders-headline {
  margin-right: auto;
  margin-bottom: rem(14px);
  margin-left: auto;
  width: rem(497px);
  text-align: center;
}

.big-team__founders-subtitle {
  margin-right: auto;
  margin-left: auto;
  width: rem(374px);
  text-align: center;
  color: #43425f;
  opacity: .8;
}

.big-team__wrapper {

  .slick-prev,
  .slick-next {
    position: absolute;
    top: calc(50% - 1.5625rem);
    right: -5.9375rem;
    width: 3.125rem;
    height: 3.125rem;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    background-image: url("./images/slider-prev-next-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    cursor: pointer;
    opacity: .2;
    transition: opacity 300ms;
  }

  .slick-prev {
    right: auto;
    left: -5.9375rem;
    transform: scaleX(-1);
  }

  .slick-prev:hover,
  .slick-next:hover {
    opacity: 1;
  }
}

// Our Team Success
.our-team__success {
  margin-right: auto;
  margin-left: auto;
  padding-top: rem(160px);
  padding-bottom: rem(160px);
  width: 71.3125rem;

  &-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &-content h3 {
    margin-bottom: rem(14px);
    width: rem(341px);
    font-family: "HindSlSemiBold", arial, sans-serif;
    font-size: rem(46px);
    font-weight: 600;
    line-height: rem(62px);
    color: #43425f;
  }

  &-content p {
    width: rem(433px);
    font-family: "SarabunRegular", arial, sans-serif;
    font-size: rem(18px);
    font-style: normal;
    font-weight: 500;
    line-height: rem(31px);
    color: #43425f;
    opacity: .8;
  }

  &-media {
    position: relative;
  }

  &-media div {
    position: absolute;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-media .our-team__success-anim-1 {
    top: 0;
    left: rem(-55px);
    z-index: 1;
    width: rem(84px);
    height: rem(84px);
    background-image: url("./images/our-team__success-media-1.png");
  }

  &-media .our-team__success-anim-2 {
    top: rem(-15px);
    left: rem(-25px);
    z-index: 6;
    width: rem(67px);
    height: rem(67px);
    background-image: url(./images/our-team__success-media-2.png);
    transform: scale(1.4);
  }

  &-media .our-team__success-anim-3 {
    top: rem(15px);
    right: rem(-30px);
    z-index: 6;
    width: rem(56px);
    height: rem(56px);
    background-image: url("./images/our-team__success-media-3.png");
    transform: scale(1.4);
  }

  &-media .our-team__success-anim-4 {
    right: rem(-15px);
    bottom: rem(-35px);
    z-index: 6;
    width: rem(70px);
    height: rem(70px);
    background-image: url("./images/our-team__success-media-4.png");
    transform: scale(1.7);
  }

  &-media .our-team__success-anim-5 {
    right: rem(-40px);
    bottom: rem(-60px);
    z-index: 1;
    width: rem(120px);
    height: rem(120px);
    background-image: url("./images/our-team__success-media-5.png");
  }

  &-media img {
    position: relative;
    z-index: 5;
    width: rem(510px);
    height: rem(292px);
    border-radius: rem(4px);
  }
}

// Our Team Founders
.our-team__founders {
  padding-top: rem(120px);
  padding-bottom: rem(145px);
  width: 100%;
  background-image: url(./images/our-team__founders-bg-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: rem(1140px);
  }

  &-content h3 {
    margin-right: auto;
    margin-bottom: rem(14px);
    margin-left: auto;
    width: rem(393px);
    font-family: "HindSlSemiBold", arial, sans-serif;
    font-size: rem(46px);
    line-height: rem(62px);
    text-align: center;
    color: #ffffff;
  }

  &-content p {
    margin-bottom: rem(93px);
    width: rem(573px);
    font-family: "SarabunRegular", arial, sans-serif;
    font-size: rem(18px);
    line-height: rem(31px);
    text-align: center;
    color: #ffffff;
    opacity: .8;
  }

  &-media {
    position: relative;
    width: rem(1095px);
    height: rem(617px);
    border-radius: rem(2px);
    cursor: pointer;
    transition: 400ms;

    &-poster {
      position: relative;
      z-index: 2;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: rem(2px);
      background-image: url("./images/our-team__founders-media.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
      transition: 400ms;
      transform-origin: center center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0f237d;
        opacity: .34;
      }
    }

    &-play-button {
      z-index: 5;
    }

    &::before {
      content: "";
      position: absolute;
      top: rem(-13px);
      left: rem(-13px);
      z-index: 1;
      width: rem(109px);
      height: rem(109px);
      border-radius: rem(6px);
      background-color: #a1addf;
      opacity: .8;
      transition: 400ms;
    }

    &::after {
      content: "";
      position: absolute;
      right: rem(-14px);
      bottom: rem(-14px);
      z-index: 1;
      width: rem(166px);
      height: rem(167px);
      border-radius: rem(6px);
      background-color: #dae1f6;
      opacity: .8;
      transition: 400ms;
    }

    &:hover {

      .our-team__founders-media-poster {
        transform: scale(1.03);
      }

      &::before {
        left: rem(-20px);
        transform: scale(1.3);
      }

      &::after {
        right: rem(-20px);
        transform: scale(1.3);
      }
    }
  }
}

// Our Team core-developers
.our-team__core-developers {
  padding-top: rem(120px);
  padding-bottom: rem(145px);
  width: 100%;
  background-image: url(./images/our-team__core-developers--desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: rem(1140px);
  }

  .our-team__member-card {
    background-color: #2e48a4;

    &:hover {
      box-shadow: 0 4px 14px rgba(0, 0, 0, .3);
    }

    &:before {
      background-color: #b3c5fc;
    }

    .our-team__member-descr,
    .position,
    .name {
      color: #ffffff;
    }
  }

  h3 {
    margin-right: auto;
    margin-bottom: rem(14px);
    margin-left: auto;
    width: rem(540px);
    font-family: "HindSlSemiBold", arial, sans-serif;
    font-size: rem(46px);
    line-height: rem(62px);
    text-align: center;
    color: #ffffff;
  }

  p {
    margin-right: auto;
    margin-bottom: rem(92px);
    margin-left: auto;
    width: rem(627px);
    font-family: "SarabunSemiBold", arial, sans-serif;
    font-size: rem(18px);
    line-height: rem(31px);
    text-align: center;
    color: #ffffff;
    opacity: .8;
  }

  &-media {
    position: relative;
    margin-right: auto;
    margin-bottom: rem(93px);
    margin-left: auto;
    width: rem(1095px);
    height: rem(617px);
    border-radius: rem(2px);
    cursor: pointer;
    transition: 400ms;

    &-poster {
      position: relative;
      z-index: 2;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: rem(2px);
      background-image: url("./images/our-team__founders-media.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      transition: 400ms;
      transform-origin: center center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0f237d;
        opacity: .34;
      }
    }

    &-play-button {
      z-index: 5;
    }

    &::before {
      content: "";
      position: absolute;
      top: rem(-13px);
      left: rem(-13px);
      z-index: 1;
      width: rem(109px);
      height: rem(109px);
      border-radius: rem(6px);
      background-color: #a1addf;
      opacity: .8;
      transition: 400ms;
    }

    &::after {
      content: "";
      position: absolute;
      right: rem(-14px);
      bottom: rem(-14px);
      z-index: 1;
      width: rem(166px);
      height: rem(167px);
      border-radius: rem(6px);
      background-color: #dae1f6;
      opacity: .8;
      transition: 400ms;
    }

    &:hover {

      .our-team__core-developers-media-poster {
        transform: scale(1.03);
      }

      &::before {
        left: rem(-20px);
        transform: scale(1.3);
      }

      &::after {
        right: rem(-20px);
        transform: scale(1.3);
      }
    }
  }

  &-button {
    margin-top: rem(70px);
    margin-right: auto;
    margin-left: auto;
  }
}

// Our Team description
.our-team__description {
  padding-top: rem(160px);
  padding-bottom: rem(160px);
  background-color: #fff;

  &-container {
    margin: 0 auto;
    width: rem(1140px);
  }

  &-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    margin-bottom: rem(160px);
  }

  &-block:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &-block:last-of-type {
    margin-bottom: 0;
  }

  &-block--content {
    width: rem(445px);
  }

  &-block--content span {
    display: block;
    margin-bottom: rem(14px);
    width: rem(225px);
    border-radius: rem(2px);
    background-color: #ffa72e;
    font-family: "SarabunSemiBold", arial, sans-serif;
    font-size: rem(14px);
    line-height: rem(31px);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  &-block--content h3 {
    margin-bottom: rem(24px);
    width: rem(411px);
    font-family: "HindSlSemiBold", arial, sans-serif;
    font-size: rem(46px);
    line-height: rem(62px);
    color: #43425f;
  }

  &-block--content p {
    display: block;
    margin-bottom: rem(35px);
    width: rem(440px);
    font-family: "SarabunRegular", arial, sans-serif;
    font-size: rem(18px);
    line-height: rem(31px);
    color: #43425f;
    opacity: .8;
  }

  &-block--content p:last-of-type {
    margin-bottom: rem(70px);
  }

  &-block--content ul {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
  }

  &-block--content ul li {
    display: block;
    margin-left: rem(15px);
    width: rem(52px);
    height: rem(52px);
    border-radius: rem(6px);
    box-shadow: rem(10px) rem(12px) rem(24px) rgba(80, 87, 94, .1);
    background-color: #c1cae3;
    cursor: pointer;
    transition: 400ms;

    &:hover {
      background-color: #d4e1ff;

      img {
        opacity: .5 !important;
      }
    }
  }

  &-block--content ul li:first-of-type {
    margin-left: 0;
  }

  &-block--content ul li a {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  }

  &-block--media,
  &-block--media img {
    width: rem(393px);
    height: rem(724px);
  }
}

// Our Team support
.our-team__support {
  margin: 0 auto;
  padding-top: rem(97px);
  padding-bottom: rem(77px);
  width: 100%;
  max-width: rem(1140px);

  &-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &-content h3 {
    margin-bottom: rem(14px);
    width: rem(482px);
    font-family: "HindSlSemiBold", arial, sans-serif;
    font-size: rem(46px);
    line-height: rem(62px);
    color: #43425f;
  }

  &-content p {
    width: rem(433px);
    font-family: "SarabunRegular", arial, sans-serif;
    font-size: rem(18px);
    line-height: rem(31px);
    color: #43425f;
    opacity: .8;
  }

  &-media {
    position: relative;
    width: rem(531px);
    border-radius: rem(2px);
    cursor: pointer;
    transition: 400ms;
  }

  &-media::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: rem(673px);
    height: rem(505px);
    background-image: url("./images/our-team__support-media-bg--desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translate(-11%, -20%);
  }

  &-media-poster {
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    display: flex;
    width: rem(531px);
    height: rem(327px);
    border-radius: rem(2px);
    background-image: url("./images/our-team__support-media.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: 400ms;
    transform-origin: center center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0f237d;
      opacity: .34;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &-media-play-button {
    z-index: 5;
  }
}

@import "./big-team-tablet.scss";

@import "./big-team-mobile.scss";
