extends ../../templates/home

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/our-team-header/our-team-header
    include ../../blocks/big-team/big-team
    include ../../blocks/our-team-footer/our-team-footer

    
    