section.main-header.article-header

    .article-header__nav-wrapper
        .main-nav
            a(href="index.html").main-nav__logo-link
                img(src="./images/main-header__logo-image-black.svg", alt="")
            nav.main-nav__nav-menu
                .main-nav__controls
                    a(href="home.html").main-nav__logo-link
                        img(src="./images/main-header__logo-image.svg", alt="")
                    .main-nav__close-button
                        img(src="./images/main-nav__close-icon.png", alt="")
                ul.main-nav__menu-list
                    li.main-nav__menu-item
                        a(href="hiw.html").main-nav__menu-link How it works
                    li.main-nav__menu-item
                        a(href="blog.html").main-nav__menu-link Blog
                    li.main-nav__menu-item
                        a(href="team.html").main-nav__menu-link Team
                    li.main-nav__menu-item
                        a(href="help.html").main-nav__menu-link FAQ
                    li.main-nav__menu-item
                        a(href="contact.html").main-nav__menu-link Contact
                    li.main-nav__menu-item
                        img(src="./images/uk.svg", alt="").main-nav__menu-link-flag 
                        a(href="#").main-nav__menu-link Eng
                .main-nav__menu-buttons
                    a(href="login.html").button-orange.main-nav__user-sign-in-button Sign IN
                    a(href="register.html").button-orange.main-nav__user-register-button Register
            .main-nav__sandwich-button
            .main-nav__user-panel
                a(href="login.html").user-panel__sign-in-button Sign in
                a(href="register.html").button-orange.user-panel__register-button.button-hover-white Register

    .article-header__wrapper
        .article-header__headline-block
            a(href="contact.html").button-orange.article-header__button Hot news
            .article-header__headline Binance Exchange to Launch Crypto Futures Trading with 20x Leverage
            .article-header__info-block
                .article-header__date 2 July 2019
                .article-header__author James Peterson
            .article-header__social-block
                a(href="#").article-header__social-link
                    img(src="./images/article-header__fb-icon.svg", alt="")
                a(href="#").article-header__social-link
                    img(src="./images/article-header__tw-icon.svg", alt="")
                a(href="#").article-header__social-link
                    img(src="./images/article-header__in-icon.svg", alt="")
    