extends ../../templates/document

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/document-header/document-header-cookies
    include ../../blocks/document/document-cookies
    