#trade-exchange {
  position: relative;
  width: 100%;
  height: 490px;
  background: white;
  background-image: url("./images/bg-dots.jpg");
  background-position: bottom;
  background-repeat: repeat-x;
  overflow: hidden;

  &.horizontal {
    background-image: url("./images/bg-dots-horizontal.jpg");
    background-position: right;
    background-repeat: repeat-y;
  }

  .trade-display {
    position: absolute;
  }

  .particles {
    position: absolute;
    top: 50%;
    left: 50%;

    .particles1 {
      position: absolute;
      top: -48px;
      left: 50%;
      margin-left: -170px;
      width: 111px;
      height: 96px;
      background-image: url("./images/particles1@2x.png");
      background-size: 100% 100%;
      opacity: 0;
      will-change: opacity, transform;
      transform: translateY(-50%);
    }

    .particles2 {
      position: absolute;
      top: -48px;
      left: 50%;
      margin-left: 60px;
      width: 111px;
      height: 96px;
      background-image: url("./images/particles2@2x.png");
      background-size: 100% 100%;
      opacity: 0;
      will-change: opacity, transform;
      transform: translateY(-50%);
    }
  }

  .connectors-display {
    position: absolute;
    pointer-events: none;
  }

  .scrolling-area {
    will-change: transform;
  }

  .exchanges-background {
    fill: #d6dced;
  }

  .line1 {
    stroke: #0095fa;
    stroke-width: 2;
  }

  .line2 {
    stroke: #0095fa;
    stroke-width: 2;
  }

  .select-marker1,
  .select-marker2 {

    .border {
      fill: #d6dced;
      will-change: transform;
    }

    .indicator {
      fill: #efc7c2;
      will-change: transform;
    }

    .connector {
      fill: #0095fa;
      will-change: transform;
    }
  }

  .exchange-box {
    fill: #ffffff;
  }

  .currency-box {
    fill: #efc7c2;

    .icon-box {
      fill: #ffffff;
    }
  }

  .select-column {
    fill: #d6dced;
    visibility: hidden;
  }

  .connect-point {
    fill: #0095fa;
  }

  .select-rect1,
  .select-rect2 {
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 0px;
    width: 54px;
    height: 54px;
    border-radius: 2px;
    background: white;
    font-size: 19px;
    text-transform: capitalize;
    color: #091540;
    visibility: hidden;
    will-change: transform, width;

    .text {
      margin-right: 12px;
      margin-left: 12px;
    }

    img {
      width: 28px;
      height: 28px;
    }

    .icon-container {
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 54px;
      height: 54px;
    }

    &.horizontal {
      height: 44px;
      font-size: 13px;

      .icon-container {
        height: 44px;
      }

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .select-rect1 {

    .icon-container {
      border-radius: 2px 0 0 2px;
      background-image: linear-gradient(180deg, #0095fa 0%, #005cf4 100%);
    }
  }

  .select-rect2 {
    justify-content: flex-end;

    .icon-container {
      border-radius: 0 2px 2px 0;
      background-image: linear-gradient(180deg, #1ed3ff 0%, #0da8ff 100%);
    }
  }

  .selected-trade {
    position: absolute;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 8px;
    width: 66px;
    width: 260px;
    height: 66px;
    height: 275px;
    background: #d6dced;
    visibility: hidden;
    white-space: nowrap;

    .short-details {

      .title {
        font-size: 18px;
        color: #324ea3;
      }

      .value {
        font-weight: 600;
        color: #324ea3;
      }

      .currency {
        text-transform: uppercase;
      }

      &.vertical-expanded {
        position: relative;
        text-align: center;

        .icon-container {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }

        .info {
          margin-top: 40px;
          width: 100%;

          .instant-trade {
            display: initial;
          }
        }
      }
    }

    .success-section {
      position: absolute;
      top: 0;
    }

    .success-info {
      background: #324ea3;
    }

    .buy-info {
      position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 5px 10px;
      height: 98px;
      border-radius: 2px;
      background: #324ea3;
      white-space: normal;

      h4 {
        font-size: 18px;
      }
    }

    .sell-info {
      position: relative;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 20px;
      border-radius: 2px;
      background: #324ea3;

      .sell-progress {
        position: absolute;
        top: 0;
        left: -12px;
        width: 110%;
        height: 100%;
        background: #ffffff;
        opacity: .1;
        transform: skewX(-15deg);
      }

      h4 {
        font-size: 18px;
      }
    }

    .icon-container {
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 2px;
      background: #1f42ff;

      img {
        width: 28px;
        height: 28px;
      }
    }

    .connector1,
    .connector2 {
      position: absolute;
      top: 50%;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background: #d6dced;
      transform: translateY(-50%);

      &:after {
        content: "";
        position: absolute;
        top: 9px;
        left: 9px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #0095fa;
      }
    }

    .connector1 {
      left: -12px;
    }

    .connector2 {
      right: -12px;
    }

    &.horizontal {

      .connector1 {
        top: 0;
        left: unset;
      }

      .connector2 {
        top: unset;
        right: unset;
        bottom: -24px;
      }

      .sell-info {
        padding: 5px 10px;
        height: 78px;

        h4 {
          font-size: 16px;
        }
      }

      .buy-info {
        padding: 5px 10px;
        height: 78px;

        h4 {
          font-size: 16px;
        }
      }

      .success-info {

        .title {
          display: none;
        }
      }
    }
  }
}
