#trade-exchange
    svg#trade-display.trade-display(width="100%" height="100%")
        defs
            filter#exchange-shadow(x='-1' y='-1' width="44" height="44")
                feDropShadow(dx='5' dy='6' stddeviation='6' flood-color="#50575E" flood-opacity="0.2")
            filter#currency-shadow(x='0' y='0' width="66" height="66")
                feOffset(dx='0' dy='0')
                feGaussianBlur(stdDeviation='2' result='offset-blur')
                feComposite(operator='out' in='SourceGraphic' in2='offset-blur' result='inverse')
                feFlood(flood-color='black' flood-opacity='0.4' result='color')
                feComposite(operator='in' in='color' in2='inverse' result='shadow')
                feComposite(operator='over' in='shadow' in2='SourceGraphic')
            filter#currency-connect-shadow(x='-1' y='-1' width="3" height="3")
                feDropShadow(dx='0' dy='1' stddeviation='2' flood-color="black" flood-opacity="0.4")
            lineargradient#currency-connect-fill(x1='0%' y1='0%' x2='0%' y2='100%')
                stop(offset='0%' style='stop-color:#0095FA; stop-opacity:1')
                stop(offset='100%' style='stop-color:#005CF4; stop-opacity:1')
            g.exchange-box
                rect(width="44" height="44" rx="2" fill="#fff" style='filter:url(#exchange-shadow)')
                image(x="10" y="10" width="24" height="24")
            g.currency-box
                rect(width="66" height="66" rx="2" style='filter:url(#currency-shadow)')
                rect.icon-box(x="8" y="8" width="50" height="50" rx="2")
                image(x="19" y="19" width="28" height="28")
                circle(cx="0" cy="33" r="8")
                circle.connect-point(cx="0" cy="33" r="3" style='filter:url(#currency-connect-shadow); fill:url(#currency-connect-fill);')
                circle(cx="66" cy="33" r="8")
                circle.connect-point(cx="66" cy="33" r="3" style='filter:url(#currency-connect-shadow); fill:url(#currency-connect-fill);')
        g.buyExchanges-box
            rect.exchanges-background
            path.select-column(d="M34,209h13c1.7,0,3,1.3,3,3v68c0,1.7-1.3,3-3,3H34L0,492V0L34,209z")
            g.scrolling-area
        g.currencies-box
            g.scrolling-area
        g.sellExchanges-box
            rect.exchanges-background
            path.select-column(d="M16,209H3c-1.7,0-3,1.3-3,3v68c0,1.7,1.3,3,3,3h13l34,209V0L16,209z")
            g.scrolling-area
    .particles
        .particles1
        .particles2
    .select-rect1
        .icon-container
            img
        span.text
    .select-rect2
        span.text
        .icon-container
            img
    .selected-trade.rounded.d-flex.flex-column
        .selected-trade-connector.connector1
        .selected-trade-connector.connector2
        .short-details.w-100.d-flex.flex-row.position-relative
            .icon-container
                img
            .info
                .title.mb-1
                    strong.name Ripple
                    |  (
                    span.currency XRP
                    | )
                .profit Appr. profit
                    |
                    |
                    strong.value 0.07 
                    |
                    |
                    span.currency BTC
                .instant-trade.d-none Instant trade
        .w-100.overflow-hidden.text-center.position-relative
            .buy-sell-info.buy-info.mb-2.text-light
                .content
                    | Bought 2,179 XRP for
                    br
                    | $ 1000 at 12:43   
            .buy-sell-info.sell-info.text-light
                .sell-progress
                .content
                    | Sold 2,179 XRP for
                    br
                    | $ 1000 at 12:43
            .success-section.w-100.flex-column.d-flex.align-items-center.text-light
                .success-info.p-3.w-100.rounded.text-center
                    h4.mb-3
                        | Congratulations to
                        br
                        | successful trade!
                    h5.mb-2 Your profit
                    .profit
                        span.value.text-warning 0.00004
                        |
                        |
                        span.currency BTC
                .d-flex.w-100.mt-2
                    button#close-instant-trade.btn.w-100.text-light Close
                    button.btn.btn-light.w-100.ml-3.text-primary Details
    svg#connectors-display.connectors-display(width="100%" height="100%")
        defs
            filter#exchange-connect-shadow(x='-1' y='-1' width="4" height="4")
                feDropShadow(dx='0' dy='1' stddeviation='2' flood-color="black" flood-opacity="0.4")
            lineargradient#exchange-connect-fill(x1='0%' y1='0%' x2='0%' y2='100%')
                stop(offset='0%' style='stop-color:#0095FA; stop-opacity:1')
                stop(offset='100%' style='stop-color:#005CF4; stop-opacity:1')
        g.select-marker1
            circle.border(r="20")
            circle.indicator(r="12")
            circle.connector(r="4" style='filter:url(#exchange-connect-shadow); fill: url(#exchange-connect-fill);')
        g.select-marker2
            circle.border(r="20")
            circle.indicator(r="12")
            circle.connector(r="4" style='filter:url(#exchange-connect-shadow); fill: url(#exchange-connect-fill);')
        g
            line.line1(x1="0" y1="0" x2="0" y2="0" stroke="black")
            line.line2(x1="0" y1="0" x2="0" y2="0" stroke="black")

