#trade-exchange
    svg#trade-display.trade-display(width="100%" height="100%")
        defs
            lineargradient#currency-connect-fill(x1='0%' y1='0%' x2='0%' y2='100%')
                stop(offset='0%' style='stop-color:#0095FA; stop-opacity:1')
                stop(offset='100%' style='stop-color:#005CF4; stop-opacity:1')
            g.exchange-box
                rect(width="44" height="44" rx="2" fill="#fff")
                image(x="10" y="10" width="24" height="24")
            g.currency-box
                rect(width="66" height="66" rx="2")
                rect.icon-box(x="8" y="8" width="50" height="50" rx="2")
                image(x="19" y="19" width="28" height="28")
                circle(cx="0" cy="33" r="8")
                circle.connect-point(cx="0" cy="33" r="3" style='fill:url(#currency-connect-fill);')
                circle(cx="66" cy="33" r="8")
                circle.connect-point(cx="66" cy="33" r="3" style='fill:url(#currency-connect-fill);')
        g.buyExchanges-box
            rect.exchanges-background
            path.select-column(d="M34,209h13c1.7,0,3,1.3,3,3v68c0,1.7-1.3,3-3,3H34L0,492V0L34,209z")
            g.scrolling-area
        g.currencies-box
            g.scrolling-area
        g.sellExchanges-box
            rect.exchanges-background
            path.select-column(d="M16,209H3c-1.7,0-3,1.3-3,3v68c0,1.7,1.3,3,3,3h13l34,209V0L16,209z")
            g.scrolling-area
    .overlay-1
    .overlay-2
    .particles
        .particles1
        .particles2
    .select-rect1
        img
        span.text
    .select-rect2
        span.text
        img
    .selected-trade.rounded.d-flex.flex-column
        .selected-trade-connector.connector1
        .selected-trade-connector.connector2
        .short-details.w-100.d-flex.flex-row.position-relative
            .icon-container
                img
            .info
                .title.mb-1
                    strong.name Ripple
                    |  (
                    span.currency XRP
                    | )
                .profit Apr. profit
                    |
                    |
                    strong.value 0.07 
                    |
                    |
                    span.currency %
                .instant-trade.d-none Instant trade
        .w-100.overflow-hidden.text-center.position-relative
            .buy-sell-info.buy-info.text-light
                .content
                    | Buy 2,179 XRP for
                    br
                    | $ 1000 at 12:43   
            .buy-sell-info.sell-info.text-light
                .sell-progress
                .content
                    | Sold 2,179 XRP for
                    br
                    | $ 1000 at 12:43
            .success-section.w-100.flex-column.d-flex.align-items-center.text-light
                .success-info.p-3.w-100.rounded.text-center
                    h4.mb-3
                        | Congratulations to
                        br
                        | successful trade!
                    h5.mb-2 Your profit
                    .profit
                        span.currency %
                        |
                        |
                        span.value.text-warning 0.00004
                .btns
                    button#close-instant-trade.button-orange.button-hover-white Close
                    button.button-white.button-hover-blue Details
    svg#connectors-display.connectors-display(width="100%" height="100%")
        defs
            lineargradient#exchange-connect-fill(x1='0%' y1='0%' x2='0%' y2='100%')
                stop(offset='0%' style='stop-color:#0095FA')
                stop(offset='100%' style='stop-color:#005CF4')
            lineargradient#exchange-connection-line1-fill(gradientUnits="userSpaceOnUse")
                stop(offset='0%' style='stop-color:#005CF4')
                stop(offset='100%' style='stop-color:#0095FA')
            lineargradient#exchange-connection-line2-fill(gradientUnits="userSpaceOnUse")
                stop(offset='0%' style='stop-color:#005CF4')
                stop(offset='100%' style='stop-color:#0095FA')    
        g.select-marker1
            circle.border(r="20")
            circle.indicator(r="12")
            circle.connector(r="4" style='fill: url(#exchange-connect-fill);')
        g.select-marker2
            circle.border(r="20")
            circle.indicator(r="12")
            circle.connector(r="4" style='fill: url(#exchange-connect-fill);')
        g
            line.line1(x1="0" y1="0" x2="0" y2="0" stroke="url('#exchange-connection-line1-fill')")
            line.line2(x1="0" y1="0" x2="0" y2="0" stroke="url('#exchange-connection-line2-fill')")

