section.address
    .address__wrapper

        form#contactForm.address__form(action="#" novalidate)
            .form-group.contact__form-email
                input(type="text" class="form-control form-control-lg required" id="contactEmail" name="email" required)
                span.form-group__placeholder Email 
                .tooltip-anchor
            .form-group.contact__form-name
                  input(type="text" class="form-control form-control-lg required" id="contactName" name="name" required)
                  span.form-group__placeholder Name 
                  .tooltip-anchor
            .form-group.contact__form-name.form-group__textarea
                  textarea(type="text" class="form-control form-control-lg required" id="contactMessage" name="message" required)
                  span.form-group__placeholder 
                    span Message 
                  .tooltip-anchor                
            input(type="submit" value="Submit").button-orange.address__submit-button.blue-button-hover-white

        .section-headline.address__headline Our Offices
        .section__subtitle.address__subtitle Our doors are always open for you!

        .address__flex-container

            .address__map-block
                .address__map-poster
            
            .address__address-block

                .section-small-title.address__title Our address
                .address__office-address 30 St Mary Axe, London, EC3A 8EP, UK

                .section-small-title.address__title Phone
                a(href="tel:+447911257986").address__link + 44 <span>7911 257986</span>

                .section-small-title.address__title Email
                a(href="mailto:contact@bitbunch.com").address__link contact@bitbunch.com

                .section-small-title.address__title Company
                .address__link Bitbunch Ltd <br/>CRN: <span>06488522</span>