extends ../../templates/account

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block header-button
    a(href="invest.html").account-nav__button.button-orange.button-hover-white invest

block content
    .account-header
      .account-header__left
          .account-app-headline Bitbunch app
          .account-main-headline Assets
      a(href="invest.html").account-header__button.button-orange.button-hover-white.your-assets__header-button invest
    include ../../blocks/your-assets/your-assets