section.main-header.pressroom-header.border-bottom
    .pressroom-header__wrapper

        include ../../components/main-nav/main-nav

        .pressroom-header__headline-block
            .section-main-headline.pressroom-header__headline Blog
            .section-main-subtitle.pressroom-header__subtitle Welcome to Bitbunch pressroom. If you wish to make a press inquiry please contact us below
            a(href="contact.html").button-orange.pressroom-header____contact-us-button.button-hover-blue Contact Us
    
        .pressroom-header__decor
