section.account-section.trading-statistics
    .trading-statistics__header
        .account-section-headline.trading-statistics__headline Trading statistics
        .trading-statistics__header-time
            span All time
            .trading-statistics__header-time-icon
                img(src="./images/calendar.svg", alt="")
    .choose-blur
        .statistics.statistics_btc
            .statistics__item.statistics__item_deposit
                .statistics__item-value <b>2.301280</b> <span class="unit">BTC</span>
                .statistics__item-label Total Deposit
            .statistics__item.statistics__item_profit
                .statistics__item-value <b>0.239059</b> <span class="unit">BTC</span>
                .statistics__item-label Profit/Loss
            .statistics__item.statistics__item_margin
                .statistics__item-value <b>+ 13.236</b> %
                .statistics__item-label Margin
            .statistics__item.statistics__item_number
                .statistics__item-value <b>73</b>
                .statistics__item-label <span>Number of</span> Trades
        .chart
            .chart__canvas
                canvas(id="chart" width="708")
            .chart__control
                .chart__control-button(data-chart="balance").active Balance
                .chart__control-button(data-chart="profit") Profit/loss
                .chart__control-button(data-chart="trades") Trades