section.account-section.trading-statistics
    .trading-statistics__header
        .account-section-headline.trading-statistics__headline Trading statistics
        .trading-statistics__header-time.date-select
            span All time
            .trading-statistics__header-time-icon.date-select__toggle
                img(src="./images/calendar.svg", alt="")
            .date-select__overflow
              .date-select__container
                .date-select__header
                  .form-group
                    input#date-select.date-select__input(type="text" class="form-control form-control-lg required" name="date-select" placeholder="Add dates")
                    span.form-group__placeholder.has-content Start date / End date
                    <svg class="button-clear" width="12" height="12" viewBox="0 0 12 12"><path d="M3.28151,6v0l-2.71849,-2.71849c-0.75069,-0.75069 -0.75069,-1.9678 0,-2.71849c0.75069,-0.75069 1.9678,-0.75069 2.71849,0l2.71849,2.71849v0l2.71849,-2.71849c0.75069,-0.75069 1.9678,-0.75069 2.71849,0c0.75069,0.75069 0.75069,1.9678 0,2.71849l-2.71849,2.71849v0l2.71849,2.71849c0.75069,0.75069 0.75069,1.9678 0,2.71849c-0.75069,0.75069 -1.9678,0.75069 -2.71849,0l-2.71849,-2.71849v0l-2.71849,2.71849c-0.75069,0.75069 -1.9678,0.75069 -2.71849,0c-0.75069,-0.75069 -0.75069,-1.9678 0,-2.71849z" fill="#43425f" fill-opacity="1"></path></svg>
                .date-select__body
                .date-select__footer
                  .button-cancel.link-hover-move Cancel
                  .button-apply Apply
    .choose-blur
        .statistics.statistics_btc
            .statistics__item.statistics__item_deposit
                .statistics__item-value <b>2.301280</b> <span class="unit">BTC</span>
                .statistics__item-label Total Deposit
            .statistics__item.statistics__item_profit
                .statistics__item-value <b>0.239059</b> <span class="unit">BTC</span>
                .statistics__item-label Profit/Loss
            .statistics__item.statistics__item_margin
                .statistics__item-value <b>+ 13.236</b> %
                .statistics__item-label Margin
            .statistics__item.statistics__item_number
                .statistics__item-value <b>73</b>
                .statistics__item-label <span>Number of</span> Trades
        .chart
            .chart__canvas
                canvas(id="chart" width="708")
            .chart__control
                .chart__control-button(data-chart="balance").active Balance
                .chart__control-button(data-chart="profit") Profit/loss
                .chart__control-button(data-chart="trades") Trades