section.account-section.verification-level.verification-level_2
    .verification-level__header
        .account-section-headline.verification-level__headline Verification Level 2
        .verification-level__header-status.success
            span Verified
            .verification-level__header-status-icon
                img(src="./images/verification_success.svg", alt="")
    .verification-level__content After this verification you will be able to trade execute withdrawals
    .verification-level__uploads
        .verification-level__uploads-item
            .verification-level__uploads-title ID Verification
            .verification-level__uploads-area
                img(src="./images/verification_upload.svg", alt="")
            .verification-level__uploads-inform
                .verification-level__uploads-title ID Verification
                .verification-level__uploads-content._desktop
                    p Upload an image of your passport or your ID card. 
                    p &nbsp;
                    p Your name and birthday must be clearly visible and match our records.
                    p &nbsp;
                    p Accepted documents: Passport, ID card
                .verification-level__uploads-content._mobile
                    p Your name and birthday must be clearly visible and match our records. Accepted documents: Passport, ID card                

        .verification-level__uploads-item
            .verification-level__uploads-title Adress Verification
            .verification-level__uploads-area
                img(src="./images/verification_upload.svg", alt="")
            .verification-level__uploads-inform
                .verification-level__uploads-title Adress Verification
                .verification-level__uploads-content._desktop
                    p Upload your proof of adress.
                    p &nbsp;
                    p Your name and adress must be clearly visible and match our records.
                    p &nbsp;
                    p Accepted documents: Utiltiy bill, bank statement
                .verification-level__uploads-content._mobile
                    p Your name and adress must be clearly visible and match our records. Accepted documents: Utiltiy bill, bank statement

    button(type="submit").button-orange.button-hover-white.verification-level__confirm CONFIRM