section.account-section.verification-level.verification-level_1
    .verification-level__header
        .account-section-headline.verification-level__headline Verification Level 1
        .verification-level__header-status.warning
            span Not Verified
            .verification-level__header-status-icon
                img(src="./images/verification_warning.svg", alt="")
    .verification-level__content After this verification you will be able to trade between your smart wallets 
    form#verificationForm.verification-level__form(novalidate)
        .form-group.verification-level__form-firstname
            input(type="text" class="form-control form-control-lg required" id="verificationFirstName" name="firstname" required)
            span.form-group__placeholder First name
            .error-icon.d-none
              span !
            .tooltip-anchor
        .form-group.verification-level__form-lastname
            input(type="text" class="form-control form-control-lg required" id="verificationLastName" name="lastname" required)
            span.form-group__placeholder Last name
            .error-icon.d-none
              span !
            .tooltip-anchor
        .form-group.verification-level__form-sex
            select(class="form-control form-control-lg required selectpicker" id="verificationSex" name="sex" required)
                option(value="male") Male
                option(value="female") Female
            span.form-group__placeholder.bootstrap-select-placeholder Sex
            .error-icon.d-none 
              span !
            .tooltip-anchor
        .form-group.verification-level__form-date
            input(type="text" spellcheck="false" class="form-control form-control-lg required" id="verificationDate" name="date" required data-inputmask-alias="datetime" data-inputmask-inputformat="dd.mm.yyyy" inputmode="numeric" autocomplete="off")
            span.form-group__placeholder.bootstrap-select-placeholder Date of birth
            .error-icon.d-none 
              span !
            .tooltip-anchor
        .form-group.verification-level__form-country
            select(class="form-control form-control-lg required selectpicker" id="verificationCountry" name="country" required)
                option(value="uk") United Kingdom
            span.form-group__placeholder.bootstrap-select-placeholder Country
            .error-icon.d-none 
              span !
            .tooltip-anchor
        .form-group.verification-level__form-city
            input(type="text" class="form-control form-control-lg required" id="verificationCity" name="city" required)
            span.form-group__placeholder City
            .error-icon.d-none
              span !
            .tooltip-anchor
        .form-group.verification-level__form-zip
            input(type="text" class="form-control form-control-lg required" id="verificationZip" name="zip" required)
            span.form-group__placeholder ZIP code
            .error-icon.d-none
              span !
            .tooltip-anchor
        .form-group.verification-level__form-street
            input(type="text" class="form-control form-control-lg required" id="verificationStreet" name="street" required)
            span.form-group__placeholder Street adress
            .error-icon.d-none
              span !
            .tooltip-anchor
        .form-group.verification-level__form-number
            input(type="text" class="form-control form-control-lg" id="verificationNumber" name="number" required)
            span.form-group__placeholder Number
        .form-group.verification-level__form-occupation
            select(class="form-control form-control-lg required selectpicker" id="verificationOccupation" name="occupation" required)
                option(value="Occupation 1") Occupation 1
                option(value="Occupation 2") Occupation 2
            span.form-group__placeholder.bootstrap-select-placeholder Occupation
            .error-icon.d-none 
              span !
            .tooltip-anchor
        .form-group.verification-level__form-source
            select(class="form-control form-control-lg required selectpicker" id="verificationSource" name="source" required)
                option(value="Source of funds 1") Source of funds 1
                option(value="Source of funds 2") Source of funds 2
                option(value="Source of funds 3") Source of funds 3
            span.form-group__placeholder.bootstrap-select-placeholder Source of funds
            .error-icon.d-none 
              span !
            .tooltip-anchor
        
        button(type="submit").button-orange.button-hover-white.verification-level__confirm CONFIRM