section.ai-trading
    .ai-trading__wrapper

        .section-headline.ai-trading__headline Algorithms evaluate the best trades
        .section__subtitle.ai-trading__subtitle BitBunch uses machine learning algorithms that detect patterns in order book data and momentum indicators to evaluate if a profitable abitrage trade can be executed. 

        .ai-trading__flex-container

            .ai-trading__card.ai-trading__card-1.ai-trading__card-orange
                .title Machine Learning
                .text
                    p The Bitbunch Machine Learning Algorithm detects patterns that indicate the time window of a potential arbitrage trade. Depending on this information, the software decides whether a trade will be placed or not.

            .ai-trading__card.ai-trading__card-2
                .title Order Book Data
                .text
                    p Bitbunch uses order book data of over 30 exchanges to detect arbitrage potentials. Once we found an opportunity, we check the available order book volumes to see how much we can trade. The higher the volumes are, the more can we trade and thus profit. 

            .ai-trading__card.ai-trading__card-3
                .title Market Trends
                .text
                    p To anticipate sudden price changes, our machine learning algorithms check momentum indicators continously. We ony perform trades at low volatility – never if a coin is overbought or oversold.
