section.ai-trading
    .ai-trading__wrapper

        .section-headline.ai-trading__headline AI Trading
        .section__subtitle.ai-trading__subtitle The Bitbunch technology is built on sophisticated artificial intelligence algorithms trained to spot arbitage opportunities in the cryptocurrency market.

        .ai-trading__title Arbitrage shouldn’t be so hard
        .ai-trading__description While in the stock market arbitrage algorithms have been wide-spread, these tools have not yet been adapted to the volatile cryprocurrency space in an easily accesible way.

        .ai-trading__flex-container

            .ai-trading__card.ai-trading__card-1.ai-trading__card-orange
                .title Machine Learning Trading Algorithm
                .text
                    p This algorithm combines the outcomes from the two other calculations based on data charts and what people say online.
                    p It can correctly assess the significance of these two inputs, and now they affect each other. Then the algorithm creates the final prediction for the market movement.

            .ai-trading__card.ai-trading__card-2
                .title Historical and Live Data
                .text
                    p This algorithm analyses historical data since 2014 and real-time data from all major cryptocurreny exchanges through sophisticated APIs. It detects patterns, completes hundreds of predictions every day without a trade, and its goal is to spot live movements which mirror historical changes and predict the outcome.
                    p It saves the result of these predictions as learnings for further self-optimosation development.

            .ai-trading__card.ai-trading__card-3
                .title Natural Language Processing
                .text
                    p Our NLP algorithm works with a «crypto news scarper» and a social listing technology to gather in a first step relevant market information.
                    p In monitors thousands of sources like online magazines, social media accounts of relevant crypto users, company news boards, CEO accounts and more. Then it evaluates how the information detected will affect the value of certain currencies.
