extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = 'verify-page'

block content
    include ../../blocks/register-header/register-header
    include ../../blocks/forms/register/verify.pug