.preloader(style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: linear-gradient(to right, #324ea3, #3d6dd0); transition: opacity 300ms; opacity: 1; display: flex; justify-content: center; align-items: center;")
    .spinner