section.rates
    .rates__wrapper

        .section-headline.rates__headline Watch Real Arbitrage Opportunities Life!
        .section__subtitle.rates__subtitle Take a look at our life data feed to see arbitrage opportunities from different currencies.

        .rates__table

            .rates__table-row.rates__table-header
                .rates__table-col-currency Currency
                .rates__table-col-buy Buy Low
                .rates__table-col-sell Sell High
                .rates__table-col-profit Profit 
                    span.mob-remove (%)

            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__bitcoin-icon.png", alt="")
                    span.title.mob-remove Bitcoin 
                        span.lite (BTC)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.red $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%

            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__bitcoin-icon.png", alt="")
                    span.title.mob-remove Bitcoin 
                        span.lite (BTC)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.green $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
