section.rates
    .rates__wrapper

        .section-headline.rates__headline Watch Real Arbitrage Opportunities Life!
        .section__subtitle.rates__subtitle Take a look at our life data feed to see arbitrage opportunities from different currencies.

        .rates__table

            .rates__table-row.rates__table-header
                .rates__table-col-currency Currency
                .rates__table-col-buy Buy Low
                .rates__table-col-sell Sell High
                .rates__table-col-profit Profit 
                    span.mob-remove (%)

            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__bitcoin-icon.png", alt="")
                    span.title.mob-remove Bitcoin 
                        span.lite (BTC)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.red $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%

            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__ethereum-icon.png", alt="")
                    span.title.mob-remove Ethereum 
                        span.lite (ETH)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.green $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__bitcoin-cash-icon.png", alt="")
                    span.title.mob-remove Bitcoin Cash 
                        span.lite (BCH)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__bitcoin-sv-icon.png", alt="")
                    span.title.mob-remove Bitcoin SV 
                        span.lite (BSV)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__eos-icon.png", alt="")
                    span.title.mob-remove EOS 
                        span.lite (EOS)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__xrp-icon.png", alt="")
                    span.title.mob-remove XRP 
                        span.lite (XRP)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__chainlink-icon.png", alt="")
                    span.title.mob-remove Chainlink 
                        span.lite (LINK)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__litecoin-icon.png", alt="")
                    span.title.mob-remove Litecoin 
                        span.lite (LTC)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__binance-coin-icon.png", alt="")
                    span.title.mob-remove Binance Coin 
                        span.lite (BNB)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__ethereum-classic-coin-icon.png", alt="")
                    span.title.mob-remove Ethereum Classic 
                        span.lite (ETC)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__okex-icon.png", alt="")
                    span.title.mob-remove Okex 
                        span.lite (OKB)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__tron-icon.png", alt="")
                    span.title.mob-remove Tron 
                        span.lite (TRX)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__dash-icon.png", alt="")
                    span.title.mob-remove Dash 
                        span.lite (DASH)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__tezos-icon.png", alt="")
                    span.title.mob-remove Tezos 
                        span.lite (XTZ)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%
            
            .rates__table-row
                .rates__table-col-currency
                    img(src="./images/rates__tether-icon.png", alt="")
                    span.title.mob-remove Tether 
                        span.lite (USDT)
                .rates__table-col-buy
                    span.title Huobi
                    span.cost.grey $ 6,863.81
                .rates__table-col-sell
                    span.title Bittfinex
                    span.cost.grey $ 6,867.43
                .rates__table-col-profit
                    span.percent 0.71%



