section.account-section.notifications
    .account-section-headline.notifications__headline Notifications
    .notifications__content You can enable email notifications to receive real-time alerts for certain events.
    .notifications__list
        .notifications__list-column
            .notifications__list-item
                span Login from new device
                input(id="notification-item_1" type="checkbox").checkbox-btn
                label(for="notification-item_1")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .notifications__list-item
                span Investment credited
                input(id="notification-item_2" type="checkbox" checked).checkbox-btn
                label(for="notification-item_2")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .notifications__list-item
                span Emergency exchange
                input(id="notification-item_3" type="checkbox" checked).checkbox-btn
                label(for="notification-item_3")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF

        .notifications__list-column
            .notifications__list-item
                span Withdrawal requested
                input(id="notification-item_4" type="checkbox").checkbox-btn
                label(for="notification-item_4")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .notifications__list-item
                span Withdrawal processed
                input(id="notification-item_5" type="checkbox" checked).checkbox-btn
                label(for="notification-item_5")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF
            .notifications__list-item
                span Updates or promotions
                input(id="notification-item_6" type="checkbox" checked).checkbox-btn
                label(for="notification-item_6")
                    .checkbox-btn__on ON
                    .checkbox-btn__point
                    .checkbox-btn__off OFF