.form-wrapper
    section.password-changed-section
        h2.password-changed-section__caption You password was changed
        .password-changed-section__description Now you can sign in to your Bitbunch account.
        a(href="login.html").button-orange.button-hover-white.password-changed__form-password-changed Sign in
        .password-changed-section__footer
            a.password-changed-section__footer-link.link-hover-move(href="home.html") Back to the home page
    
    include ../protection-section/protection-section.pug