section.news-releases
    .news-releases__wrapper

        .news-releases__animation-wrapper-1
            .section-headline.news-releases__headline.news-releases__headline-1 Tutorial & Explainers
            .section__subtitle.news-releases__subtitle.news-releases__subtitle-1 Learn more about the latest technology trends and&nbsp;updates.

            .news-releases__flex-container

                .news-releases__card.news-releases__anim-order-1
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-1.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-2
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-2.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-3
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-3.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-4
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-4.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-5
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-5.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-6
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-3.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us


        .news-releases__animation-wrapper-2
            .section-headline.news-releases__headline.news-releases__headline-2 Technology
            .section__subtitle.news-releases__subtitle.news-releases__subtitle-2 Here’s what’s happening in the crypto sphere.

            .news-releases__flex-container

                .news-releases__card.news-releases__anim-order-11
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-1.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-12
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-2.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-13
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-3.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-14
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-4.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us


        .news-releases__animation-wrapper-3
            .section-headline.news-releases__headline.news-releases__headline-3 Crypro News
            .section__subtitle.news-releases__subtitle.news-releases__subtitle-3 Here’s what’s happening in the crypto sphere.

            .news-releases__flex-container

                .news-releases__card.news-releases__anim-order-21
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-1.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
                
                .news-releases__card.news-releases__anim-order-22
                    .news-releases__card-text
                        span The stock of Company X is trading at $20 on the New York Stock Exchange (NYSE) while, at the same moment, it is trading for $20.05 on the London Stock Exchange (LSE). A trader can buy the stock on the NYSE and immediately sell the same shares on the LSE...
                        a(href="#").link-hover-move Read more
                    .news-releases__card-poster(style="background-image: url('./images/news-releases__card-poster-2.png')")
                        .date 05.10.2018
                        .name Why automation is better?
                    .bage.bage-yellow About us
            
            
