extends ../../templates/account

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block notification
    // .notification.notification__dunger(tabindex="-1" role="dialog") Wrong authenticator code. Please try again.
    .notification.notification__success(tabindex="-1" role="dialog") Your withdrawal got requested successfully.

block content
    .account-header
      .account-header__left
          .account-app-headline Bitbunch app
          .account-main-headline Withdraw
    select(id="choose-asset" name="choose-asset" placeholder="CHOOSE YOUR ASSET" value="").choose-select
        option(value="BTC" data-balance="13.048128" data-profit="0.212%" data-profit-style="success" data-logo-color="./images/bitcoin.svg" data-logo-white="./images/choose-bitcoin.svg" data-background="./images/chooise-bg-bitcoin.jpg") Bitcoin
        option(value="ETH" data-balance="159.402942" data-profit="13.039%" data-profit-style="success" data-logo-color="./images/ethereum.svg" data-logo-white="./images/choose-ethereum.svg" data-background="./images/chooise-bg-ethereum.jpg") Ethereum
        option(value="USDT" data-balance="2 391.49503" data-profit="0.129%" data-profit-style="danger" data-logo-color="./images/tether.svg" data-logo-white="./images/choose-USDT@2x.png" data-background="./images/chooise-bg-tether.jpg") Tether

    include ../../blocks/make-withdraw/make-withdraw

    include ../../blocks/withdrawals/withdrawals

block modal
    #modal-change-withdrawal.modal.fade.modal__notification(tabindex="-1" role="dialog")
        .modal-dialog.modal__dialog.modal-dialog-centered(role="document")
            .modal-content.modal__content
                include ../../blocks/forms/modal/modal-withdrawal