section.account-section.choosing-coin
    .choosing-coin__header
        .choosing-coin__icon
            img(src="./images/search.svg", alt="")
        .choosing-coin__title
            .choosing-coin-headline Choosing a coin
            .choosing-coin-content Analyzing possibilities <span>for a new trade</span>
        .choosing-coin__controls
            .choosing-coin__controls-toggle
                img(src="./images/coin__controls_play.svg", alt="").play
                img(src="./images/coin__controls_pause.svg", alt="").pause
            a(href="settings.html").choosing-coin__controls-settings
                img(src="./images/coin__controls_settings.svg", alt="")
