extends ../../templates/account

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block notification
    .notification.notification__success Your phone number got changed successfully.

block content
    .account-header
      .account-header__left
          .account-app-headline Bitbunch app
          .account-main-headline Account
      a(href="#").button-orange invest
    include ../../blocks/your-account/your-account
    include ../../blocks/notifications/notifications