section.account-section.security-password
    .account-section-headline.security-password__headline Your password
    
    form#securityPasswordForm.security-password__form(novalidate)
        .form-group.security-password__form-current
            input(type="password" class="form-control form-control-lg required" id="securityPasswordCurrent" name="password-current" required readonly)
            span.form-group__placeholder Your current password
            .tooltip-anchor
            button(type="button" data-toggle="edit-form").form-group__button.link-hover-move Edit
        .form-group.security-password__form-new
            input(type="password" class="form-control form-control-lg required" id="securityPasswordNew" name="password-new" required readonly)
            span.form-group__placeholder Your new password
            .tooltip-anchor
        .form-group.security-password__form-confirm
            input(type="password" class="form-control form-control-lg required" id="securityPasswordConfirm" name="password-confirm" required readonly)
            span.form-group__placeholder Repeat new password
            .tooltip-anchor
            button(type="submit" data-toggle="edit-form").form-group__button.link-hover-move Save