.our-team-header {
  background: linear-gradient(270deg, #3f72d7 0%, #324ea3 100%);
}

.our-team-header__wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 8.75rem;
  width: 76.125rem;
}

.our-team-header__headline-block {

  .our-team-header__headline {
    display: block;
  }
}

.our-team-header__video-block {

  .our-team-header__headline {
    display: none;
  }
}

.our-team-header__content {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  margin-top: rem(106px);
}

.our-team-header__headline {
  width: rem(479px);
}

.our-team-header__subtitle {
  margin-top: .875rem;
  max-width: rem(403px);
}

.our-team-header__were-hiring-button {
  margin-top: 4.625rem;
}

.our-team-header__video-block {
  position: relative;
  // padding-top: 4.1875rem;
  width: rem(531px);
  border-radius: rem(2px);
}

.our-team-header__video-bg {
  position: absolute;
  width: 46rem;
  height: 33.625rem;
  background-image: url(images/our-team-header__video-bg-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform-origin: center center;
  transform: translate(-20%, -19%);
}

.our-team-header__video-poster {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  width: rem(531px);
  height: rem(327px);
  border-radius: rem(2px);
  background-image: url("./images/our-team-header__video-poster-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  transition: scale 400ms;
  transform-origin: center center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f237d;
    opacity: .34;
  }

  &:hover {
    transform: scale(1.03);
  }
}

.our-team-header__video-play-button {
  z-index: 1;
}

@import "./our-team-header-tablet.scss";

@import "./our-team-header-mobile.scss";
