section.main-header.our-team-header
    .our-team-header__wrapper

        include ../../components/main-nav/main-nav

        .our-team-header__headline-block
            .section-main-headline.our-team-header__headline Our Team
            .section-main-subtitle.our-team-header__subtitle Get to know our team closer or check open positions.
            a(href="#").button-orange.our-team-header__were-hiring-button WE’RE HIRING
    
        .our-team-header__decor
