section.main-header.our-team-header.border-bottom
    .our-team-header__wrapper

        include ../../components/main-nav/main-nav

        .our-team-header__content#anim-header-trigger
            .our-team-header__headline-block#anim-header-1
                .section-main-headline.our-team-header__headline Meet the Hearts And Brains of BitBunch
                .section-main-subtitle.our-team-header__subtitle We’re all putting in our hearts and brains everyday, to improve your BitBunch experience!
                a(href="register.html").button-orange.our-team-header__were-hiring-button.button-hover-blue Register Now
    
            .our-team-header__video-block
                .section-main-headline.our-team-header__headline#anim-header-2 Meet the Hearts And Brains of BitBunch
                .our-team-header__video-bg#anim-header-4
                .our-team-header__video-poster#anim-header-3
                    .video-play-button.our-team-header__video-play-button
