@media screen and ($mobile1), ($mobile2), ($mobile3) {

  .our-team-header {
    background: auto;
  }

  .our-team-header__wrapper {
    padding-top: 2.125rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    width: 100%;
  }

  .our-team-header__content {
    margin-top: rem(36px);
  }

  .our-team-header__subtitle {
    margin-top: rem(12px);
    width: rem(260px);
  }

  .our-team-header__were-hiring-button {
    margin-top: rem(32px);
  }

  .our-team-header__video-block {
    width: 100%;
  }

  .our-team-header__video-bg {
    width: rem(318px);
    height: rem(260px);
    background-image: url(images/our-team-header__video-bg-mobile.png);
    transform: translate(-7%, -17%);
  }

  .our-team-header__video-poster {
    margin-top: rem(16px);
    width: rem(272px);
    height: rem(153px);
    background-image: url("./images/our-team-header__video-poster-mobile.jpg");
  }
}
