@media screen and ($tablet1), ($tablet2), ($tablet3) {

  .our-team-header__wrapper {
    padding-top: 3.125rem;
    padding-right: 3.125rem;
    padding-bottom: rem(78px);
    padding-left: 3.125rem;
    width: 100%;
  }

  .our-team-header__content {
    flex-direction: column-reverse;
    margin-top: rem(70px);
  }

  .our-team-header__headline-block {

    .our-team-header__headline {
      display: none;
    }
  }

  .our-team-header__video-block {

    .our-team-header__headline {
      display: block;
    }
  }

  .our-team-header__headline {
    width: rem(540px);
  }

  .our-team-header__subtitle {
    margin-top: rem(24.5px);
    width: rem(462px);
    font-weight: 600;
  }

  .our-team-header__were-hiring-button {
    margin-top: rem(52px);
  }

  .our-team-header__video-block {
    width: rem(668px);
  }

  .our-team-header__video-bg {

    &::before {
      content: "";
      width: 47rem;
      height: 34.75rem;
      background-image: url(images/our-team-header__video-bg-tablet.svg);
      transform: translate(-6.5%, -16%);
    }
  }

  .our-team-header__video-poster {
    margin-top: rem(24.5px);
    width: rem(668px);
    height: rem(375px);
    background-image: url("./images/our-team-header__video-poster-tablet.jpg");
  }
}
