section.main-header.login-header.border-bottom
    .login-header__wrapper

        include ../../components/main-nav/main-nav
        .login-header__headline-block
          .section-main-headline.login-header__headline Privacy
          .login-header__subtitle Subtitle