.dev-menu {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.dev-menu__wrapper {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 56rem;
}

.dev-menu .button-orange {
  margin: .9375rem;
  width: 16rem;
}

.dev-menu hr{
  width: 100%;
}