.dev-menu
    .dev-menu__wrapper

        a(href="home.html").button-orange home

        a(href="blog.html").button-orange blog

        a(href="team.html").button-orange team

        a(href="help.html").button-orange help

        a(href="contact.html").button-orange contact

        a(href="career.html").button-orange career

        a(href="hiw.html").button-orange how it works

        a(href="article.html").button-orange article

        a(href="register.html").button-orange create new account

        a(href="userdata.html").button-orange User data in registration

        a(href="verify.html").button-orange Verify email

        a(href="login.html").button-orange Login

        a(href="restore.html").button-orange Restore password

        a(href="forgot.html").button-orange Forgot password

        a(href="password-changed.html").button-orange Password changed

        a(href="check-email.html").button-orange Check email

        a(href="terms-of-service.html").button-orange Terms of Service

        a(href="privacy-policy.html").button-orange Privacy Policy 

        a(href="risk-disclaimers.html").button-orange Risks & Disclaimers

        a(href="cookie-policy.html").button-orange Cookie Policy

        hr

        a(href="live-trades.html").button-orange Live Trades

        a(href="assets.html").button-orange Assets

        a(href="settings.html").button-orange Settings

        a(href="reports.html").button-orange Reports

        a(href="invest.html").button-orange Invest

        a(href="withdraw.html").button-orange Withdraw

        a(href="account.html").button-orange Account

        a(href="security.html").button-orange Security

        a(href="verification.html").button-orange Verification