.dev-menu
    .dev-menu__wrapper

        a(href="home.html").button-orange home

        a(href="pressroom.html").button-orange pressroom

        a(href="team.html").button-orange team

        a(href="help.html").button-orange help

        a(href="contact.html").button-orange contact

        a(href="career.html").button-orange career

        a(href="hiw.html").button-orange how it works

        a(href="register.html").button-orange create new account

        a(href="userdata.html").button-orange User data in registration

        a(href="verify.html").button-orange Verify email

        a(href="login.html").button-orange Login

        a(href="restore.html").button-orange Restore password

        a(href="forgot.html").button-orange Forgot password

        a(href="password-changed.html").button-orange Password changed

        a(href="check-email.html").button-orange Check email