section.account-section.make-withdraw
    .choose-blur
        .make-withdraw__bg
        .account-section-headline.make-withdraw__headline Make a withdrawal
        .make-withdraw__info Make sure to enter your correct wallet address.
        form#withdrawalForm.withdrawal__form(novalidate)
            .form-group.withdrawal__form-amount
                input(type="text" class="form-control form-control-lg required" id="withdrawalAmount" name="amount" required)
                span.form-group__placeholder Amount
                .error-icon.d-none
                  span !
                span.form-group__info available: 2.491482 BTC 
            .form-group.withdrawal__form-wallet-adress
                input(type="text" class="form-control form-control-lg required" id="withdrawalWallet" name="wallet" required)
                span.form-group__placeholder Wallet address
                .error-icon.d-none 
                  span !
            button(type="submit").button-orange.button-hover-white.withdrawal__form-button Withdrawal